<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attributions | Sesame_Shenzhen - iGEM 2022</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='description.css') }}" />
    {% include 'link.html' %}

</head>

<body>
    <!-- 顶部导航栏 -->
    {% include 'menu.html' %}

    <!-- 封图 -->
    <img class="cover-img" src="https://static.igem.wiki/teams/4299/wiki/covers/attri.jpg">

    <!-- 侧边栏 -->
    <!-- <div id="description-article-sidebar" class="">
        <div class="article-sidebar-a sidebar-contents">CONTENTS</div>
        <hr class="layui-border-cyan" style="margin-bottom: 10px;">

        <a class="article-sidebar-a" href="#a1"></a>
        <a class="article-sidebar-a sidebar-b" href="#b1"></a>
        <a class="article-sidebar-a sidebar-b" href="#b2"></a>



    </div> -->

    <!-- 内容 -->
    <div class="content-div">
        <div class="article-top-line">
            <hr class="layui-border-cyan">
        </div>


        <img class="descrption-article-img" src="">
        <div class="descrption-article-text">
            <p style="text-indent: 0;"><strong>LZU-HS-Pro-B: </strong> </p>
            <p style="text-indent: 0;">We thank LZU-HS-Pro-B for working with us closely during the entirety of our project. They provided us with Uric acid-sensitive promoters, and we completed the experimentation stage together. We also hosted a biosecurity meeting with many other teams and planned a future business product. </p>
        </div>

         <div class="descrption-article-text">
            <p style="text-indent: 0;"><strong>shsbnu_China:</strong> </p>
            <p style="text-indent: 0;">We thank shsbnu_china for sharing their project with us. </p>
        </div>

         <div class="descrption-article-text">
            <p style="text-indent: 0;"><strong>Shenzhen Tsinghua Research Facility:</strong> </p>
            <p style="text-indent: 0;">We thank the Shenzhen Tsinghua Research Facility for providing us with the facilities necessary for research and experimentation. </p>
        </div>

        <div class="descrption-article-text">
            <p style="text-indent: 0;">We thank Zhi Ma Ge education for providing funding. </p>
        </div>
        <div class="descrption-article-text">
            <p style="text-indent: 0;">We thank Lanzhou University, Professor Liu Jin Rong, Professor Wang Yan Lin and Professor Qi Jian for guiding our project. They carefully examined every part of our project, gave detailed feedback, and guided us when we encountered experimental mistakes. </p>
        </div>
        <div class="descrption-article-text">
            <p style="text-indent: 0;">We thank WLSA and UWC Costa Rica for letting us give speeches. </p>
        </div>
        <div class="descrption-article-text">
            <p style="text-indent: 0;">We thank Uric acid patients, Xbiome, CCIC, Doctor Pan Zhi Yuan and Doctor Ju Min, Professor Liu Jin Rong, and Dr. Si Shu Feng for allowing us to interview and inquire questions about our project. They have significantly shaped our project's development, and we cannot express our gratitude towards them. </p>
        </div>
         <div class="descrption-article-text">
            <p style="text-indent: 0;"><strong>鞠涵冰 (Hanbing Ju) - Team Captain</strong> </p>
            <p style="text-indent: 0;">Crystal Hanbing Ju, has been responsible for organizing the team's logistics, and she completed a large portion of the administrative tasks. She has also been a keen part of the biology team, ensuring the experiments and validations have been performed properly and actively taking and organizing lab notes. For education, she was responsible for operating the WeChat official account by writing some and modifying most of the articles as well as collecting feedback. She also independently finished the open lecture material and performed a presentation about synthetic biology in her school. For human practice she finished the interview materials and participated in the interview. She also participated in writing the wiki, CCiC presentation, and the final presentation.</p>
        </div>
         <div class="descrption-article-text">
            <p style="text-indent: 0;"><strong>温瀚翔 (Hanson Wen) - Team Captain</strong> </p>
            <p style="text-indent: 0;">Hanson has been responsible for the biological part design, designed the Genetic circuit of the project, and has been an active member during the lab experiments by designing and performing them. He has also been part of the dry lab, participating in human practices interviews with doctors and professors, organizing and writing the wiki and presentation scripts, managing and organizing the teams' logistics, and organizing educational activities, such as designing and customizing puzzles and compositing articles. He has also completed various admirative tasks, such as writing the judging form. He has also written the entrepreneurship document independently.</p>
        </div>
         <div class="descrption-article-text">
            <p style="text-indent: 0;"><strong>李菁 (Jing Li) - Vice Team Captain</strong> </p>
            <p style="text-indent: 0;">Jing Li has been an active member of the Lab and contributor to the human practices section. She initiated the wechat official account and designed the team logo. She has planned various aspects of our human practices, such as interviews, and has reviewed our project's potential impacts and problems. She has also been responsible for writing articles for out education sector.</p>
        </div>
         <div class="descrption-article-text">
            <p style="text-indent: 0;"><strong>董婉怡 (Ashley Dong)- Team Member</strong> </p>
            <p style="text-indent: 0;">Ashley has actively participated in organizing lab notes, and making PowerPoint and presentation videos for CCiC. For the education, she wrote an article for the official account. She has also contributed to wiki writing by providing English and translational aid. </p>
        </div>
         <div class="descrption-article-text">
            <p style="text-indent: 0;"><strong>陈梓瑄 (Zixuan Chen) - Team Member</strong> </p>
            <p style="text-indent: 0;">Zi Xuan has been an active member of the lab. She was responsible for the video editing of our project and edited the promotional video. She also designed the team mascot. </p>
        </div>
         <div class="descrption-article-text">
            <p style="text-indent: 0;"><strong>邓博文 (Pokman Deng)- Team Member</strong> </p>
            <p style="text-indent: 0;">Pokman has been an active member of the Lab and has contributed to organizing experimental procedures. He also contributed to writing articles for our educational sector and offering ideas for our human practice sector .</p>
        </div>
         <div class="descrption-article-text">
            <p style="text-indent: 0;"><strong>胡奕瑄 (Yixuan Hu) - Team Member</strong> </p>
            <p style="text-indent: 0;">Tracy (YiXuan) has been responsible for organizing data and conducting surveys for our human practices. She has also been an active member of our lab.</p>
        </div>
         <div class="descrption-article-text">
            <p style="text-indent: 0;"><strong>蔡与林 (Yulin Cai) - Team Member</strong> </p>
            <p style="text-indent: 0;">Yulin has been an active member of our lab. She has also been responsible for surveying and collecting data for our human practices sector, and has written articles for our education sector.</p>
        </div>
         <div class="descrption-article-text">
            <p style="text-indent: 0;"><strong>袁雅量 (Janice Yuan) - Team Member</strong> </p>
            <p style="text-indent: 0;">Janice has been responsible for the modeling sector of our project.</p>
        </div>
         <div class="descrption-article-text">
            <p style="text-indent: 0;"><strong>林俊佐 (Bill Chum-cho Lam) - Team Member</strong> </p>
            <p style="text-indent: 0;">Bill takes part in the biological design with team leaders, and also puts efforts in designing the genetic circuit of the whole project. He has been responsible for the modeling sector in the project, assisting in setting up and utilizing models to do explaination and prediction. By reviewing the full experimentation process, he has been full of energy and has also wrote the proof of concepts page with Hanson. </p>
        </div>
         <div class="descrption-article-text">
            <p style="text-indent: 0;"><strong>李吴洵 (Wuxun Li) - Team Member</strong> </p>
            <p style="text-indent: 0;">WuXun has been an active member of our team and has helped design and produce poker cards for our educational sector.</p>
        </div>
         <div class="descrption-article-text">
            <p style="text-indent: 0;"><strong>徐远航 (Yuanhang Xu) - Team Member</strong> </p>
            <p style="text-indent: 0;">YuanHang has been actively participating in the article writing.</p>
        </div>
         <div class="descrption-article-text">
            <p style="text-indent: 0;"><strong>刘雨桐 (Yutong Liu) - Team Member</strong> </p>
            <p style="text-indent: 0;">Yu Tong has been actively participating in the educational sector by contributing to article writing. She has also independently performed a presentation about synthetic biology in her school.</p>
        </div>
         <div class="descrption-article-text">
            <p style="text-indent: 0;"><strong>杨宇纶(Yuguan Yang) - Team Member</strong> </p>
            <p style="text-indent: 0;">Yuguan has been providing the basic help we need. And he has also  helping and accompanying the team.</p>
        </div>
         <div class="descrption-article-text">
            <p style="text-indent: 0;"><strong>李奔(Ben Li) </strong> </p>
            <p style="text-indent: 0;">Thanks to Ben Li who helpd and supported us on this project.Your help made our progress go more smoothly. She has cooperated with LZU-HS-Pro-B smoothly, and has helped alot with the partnership work. </p>
        </div>
            


    </div>


    <!-- 底部 -->
    {% include 'footer.html' %}

</body>

</html>