<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collaborations | Sesame_Shenzhen - iGEM 2022</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='description.css') }}" />
    {% include 'link.html' %}

</head>

<body>
    <!-- 顶部导航栏 -->
    {% include 'menu.html' %}

    <!-- 封图 -->
    <img class="cover-img" src="https://static.igem.wiki/teams/4299/wiki/covers/colla.jpg">

    <!-- 侧边栏 -->
    <div id="description-article-sidebar" class="">
        <div class="article-sidebar-a sidebar-contents">CONTENTS</div>
        <!-- <hr class="layui-border-cyan" style="margin-bottom: 10px;"> -->

        <a class="article-sidebar-a" href="#a1">I. Collaboration with Shsbnu_China</a>
        <a class="article-sidebar-a" href="#a2">II. Collaboation with LZU-HS-Pro-B</a>
        <a class="article-sidebar-a" href="#a3">III. 华南交流会(The 6th Southern China Regional Meeting):</a>



    </div>

    <!-- 内容 -->
    <div class="content-div">
        <div class="article-top-line">
            <hr class="layui-border-cyan">
        </div>

    

        <div class="article-desc-title" id="a1">I. Collaboration with Shsbnu_China</div>
        <div class="descrption-article-text">
            <p>We collaborated with SHSBNU_China, and had very friendly exchanges about our projects. They shared their project about biologically accelerated and integrated delphinidin synthesis through e.coli. They transported various enzymes into E.coli to accelerate the synthetic process. </p>
        </div>
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/colla/img.jpeg" />
        <div class="article-desc-title" id="a2">II. Collaboation with LZU-HS-Pro-B</div>
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/colla/img2.jpeg" />
        <div class="descrption-article-text">
            <p>Safety meeting:</p>
            <p>we arranged meeting along side LZU-HS-Pro-B about the safety conference, and invited many teams to attend, such as XHD-Wuhan-China, Thinker-Shenzhen, THINKER_CHINA and LZU-HS-Pro-A. It was a meeting about bio security, and the importance of it in iGEM, as synthetic biology can be powerful yet dangerous at the same time. </p>
        </div>
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/colla/img3.jpeg" />
        <div class="article-desc-title" id="a3">III. 华南交流会(The 6th Southern China Regional Meeting):</div>
        <div class="descrption-article-text">
            <p>We also attended a conference, the 6ths Annual Southern china regional meeting hosted by SZU-China, a university iGem team based in Shenzhen, with 11 other teams from high school tracks and university tracks attending. We didn't participate in the presentation. However, we have listened to the presentations of many other groups, such as Links_China and GreatBay_SCIE. </p>
        </div>
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/colla/img4.jpeg" />


    </div>


    <!-- 底部 -->
    {% include 'footer.html' %}

</body>

</html>