<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contribution | Sesame_Shenzhen - iGEM 2022</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='description.css') }}" />
    {% include 'link.html' %}

</head>

<body>
    <!-- 顶部导航栏 -->
    {% include 'menu.html' %}

    <!-- 封图 -->
    <img class="cover-img" src="https://static.igem.wiki/teams/4299/wiki/covers/contr.jpg">

    <!-- 侧边栏 -->
    <!-- <div id="description-article-sidebar" class="">
        <div class="article-sidebar-a sidebar-contents">CONTENTS</div>
        <hr class="layui-border-cyan" style="margin-bottom: 10px;">

        <a class="article-sidebar-a" href="#a"></a>
        <a class="article-sidebar-a sidebar-b" href="#b"></a>
        <a class="article-sidebar-a sidebar-b" href="#b"></a>



    </div> -->

    <!-- 内容 -->
    <div class="content-div">
        <div class="article-top-line">
            <hr class="layui-border-cyan">
        </div>


        <div class="descrption-article-text">
            <p>We have contributed several aspects to the iGEM community: </p>
        </div>

        <div class="descrption-article-text">
            <p>Unique proposed implementation: </p>
            <p>We have acquired from professor Liu QinRong a unique implementation method for our bacteria. We are the first to incorporate microencapsulation with freeze-dry technology, providing a broad pathway for future iGEM teams to produce long-preserving, acid-resistant products. We have not seen this combination of implementation in any of the teams beforehand, which shows that we might have been the first to implement the technology. </p>
        </div>

        <div class="descrption-article-text">
            <p>Education:</p>
            <p>We have thought of a new idea for our education: creating a puzzle about synthetic biology. Through this, we can inform lower-aged students and educate them while playing. Through solving the puzzle pieces, they are required to read the text on the puzzle, which would enable them to absorb the knowledge while having fun. The same aspect was applied to the poker cards, as we thought puzzles were too bulky, time-consuming, and inaccessible. We printed definitions of technical terms of synthetic biology onto the cards. Players can absorb the knowledge while playing. We have custom-made poker cards in Chinese to reach more audiences in china. We have put the files and images of the poker cards, puzzle, and speeches and articles (we have also done speeches and articles, but did not mention it here. Please see the education page for more details. )online so future teams can easily access and raise awareness about synthetic biology.</p>
        </div>

        <div class="descrption-article-text">
            <p>Parts:</p>
            <p>We have contributed multiple parts to the Igem registry. We have added information about the functioning condition of urate oxidase part (BBa_K2752012) from DLUT_China and (BBa_K2334001). We also made parts that verify the functioanility of HucR and HucO by attaching RFP (BBa_K4299001) and uploaded a part the determined the collective effect of collective efficacy of the HucR promoter and the urate oxidase (BBa_K4299002)</p>
        </div>

    


    </div>


    <!-- 底部 -->
    {% include 'footer.html' %}

</body>

</html>