<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Description | Sesame_Shenzhen - iGEM 2022</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='description.css') }}" />
    {% include 'link.html' %}

</head>

<body>
    <!-- 顶部导航栏 -->
    {% include 'menu.html' %}

    <!-- 封图 -->
    <img class="cover-img" src="https://static.igem.wiki/teams/4299/wiki/covers/desc.jpg">

    <!-- 侧边栏 -->
    <div id="description-article-sidebar" class="">
        <div class="article-sidebar-a sidebar-contents">CONTENTS</div>
        <!-- <hr class="layui-border-cyan" style="margin-bottom: 10px;"> -->

        <a class="article-sidebar-a" href="#a1">ABSTRACT</a>
        <a class="article-sidebar-a" href="#a2">BACKGROUND</a>
        <a class="article-sidebar-a sidebar-b" href="#b1">Purines and uric acid </a>
        <a class="article-sidebar-a sidebar-b" href="#b2">Hyperuricemia</a>
        <a class="article-sidebar-a sidebar-b" href="#b3">Hyperuricemia in China:</a>
        <a class="article-sidebar-a sidebar-b" href="#b4">Current Treatments and Drawbacks</a>
        <a class="article-sidebar-a sidebar-c" href="#c1">I. Allopurinol </a>
        <a class="article-sidebar-a sidebar-c" href="#c2">II. Uricosuric Agents</a>
        <a class="article-sidebar-a" href="#a3">INSPIRATION</a>
        <a class="article-sidebar-a" href="#a4">OUR PROJECT</a>
        <a class="article-sidebar-a sidebar-b" href="#b5">Urate oxidase/Uricase </a>
        <a class="article-sidebar-a sidebar-b" href="#b6">Escheria coli Nissle 1917 (EcN)</a>
        <a class="article-sidebar-a sidebar-b" href="#b7">Benefits</a>
        <a class="article-sidebar-a" href="#a5">GENETIC CIRCUIT</a>
        <a class="article-sidebar-a sidebar-b" href="#b8">The function of each gene</a>
        <a class="article-sidebar-a sidebar-c" href="#c3">I. HucR</a>
        <a class="article-sidebar-a sidebar-c" href="#c4">II. uaZ</a>
        <a class="article-sidebar-a sidebar-c" href="#c5">III. CI</a>
        <a class="article-sidebar-a sidebar-c" href="#c6">IV. E</a>
        <a class="article-sidebar-a sidebar-b" href="#b9">How the circuit systematically works</a>
        <a class="article-sidebar-a" href="#a6">REFERENCE</a>

    </div>

    <!-- 内容 -->
    <div class="content-div">
        <div class="article-top-line">
            <hr class="layui-border-cyan">
        </div>

        <!-- <div class="article-desc-title" id="a"></div>
        <div class="article-desc-sub-title" id="b"></div>
        <div class="descrption-article-text">
            <p></p>
        </div>
        <img class="descrption-article-img" src="">
        <div class="article-img-description"></div> -->

        <div class="article-desc-title" id="a1">ABSTRACT</div>
        <div class="descrption-article-text">
            <p>Uric acid is the end-product of purine catabolism. In recent years, economic growth and development have significantly improved accessibility to high-purine foods. The increased consumption of foods such as red meat and seafood is directly associated with a higher prevalence of hyperuricemia. Hyperuricemia can lead to the formation of urate stones and gout, and serves as an independent risk factor for hypertension, chronic kidney disease, and cancer. Adverse side effects have been identified for existing treatment methods, which confirm the need for a safer uric acid-lowering treatment with no adverse side effects. Our project introduces exogenous uricase as a novel treatment method. We utilized molecular cloning technologies to insert the gene encoding for urate oxidase into E. Coli, while incorporating the modified probiotics into everyday edibles such as yogurt and freeze-dried powder. Additionally, our design incorporates both a sensory and suicide system to avoid polluting  the genetic pool of other species caused by the potential escaping of genetically edited E.coli. To summarize, our project is associated with various sustainable benefits and does not include any adverse side effects.</p>
        </div>

        <div class="article-desc-title" id="a2">BACKGROUND</div>
        <div class="article-desc-sub-title" id="b1">Purines and uric acid </div>
        <div class="descrption-article-text">
            <p>Purines are chemical compounds normally produced in the human body or can be found via the intake of high-purine foods and drinks (eg. meat products). Uric acid is the end-product of purine catabolism and is excreted via the gut and kidneys. </p>
        </div>
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/desc/img1.jpg">
        <div class="article-img-description">Fig.1 The catabolic pathway of purines in the human body</div>

        <div class="article-desc-sub-title" id="b2">Hyperuricemia</div>
        <div class="descrption-article-text">
            <p>In cases of abnormal metabolic activity, the kidneys cannot eliminate uric acid efficiently, which results in high uric acid levels<span class="italics">(Serum uric acid concentrations greater than 6 mg/dL for females, 7 mg/dL for men, and 5.5 mg/dL for youth (under 18 years old) are defined as hyperuricemia[1]).</span> </p>
        </div>
        <div class="descrption-article-text">
            <p>Hyperuricemia leads to the formation of gout, a form of inflammatory arthritis. When high uric acid concentrations accumulate within the blood, they will precipitate to form needle-like crystals and urate stones. These crystals trigger inflammation, acute pain in the joints, and redness and swelling. </p>
        </div>
        <div class="descrption-article-text">
            <p>Hyperuricemia is also an independent risk factor for hypertension, diabetes, cancer, and mortality. Other complications include chronic kidney disease, and an increased risk of heart attack and stroke. </p>
        </div>
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/desc/img2.png">
        <div class="article-img-description">Fig.2 complication of hyperuricemia [2]</div>

        <div class="article-desc-sub-title" id="b3">Hyperuricemia in China:</div>
        <div class="descrption-article-text">
            <p>In recent years, economic growth and development have significantly improved accessibility to high-purine foods. The increased consumption of foods such as red meat, seafood, and alcoholic beverages is directly associated with high uric acid blood levels and a higher prevalence of hyperuricemia in both China and abroad. </p>
        </div>
        <div class="descrption-article-text">
            <p>According to "White paper on trends of Hyperuric acid and gout in China, 2021" [3], a clear trend of hyperuricemia diagnosis is demonstrated among younger generations. The prevalence of hyperuricemia and gout in China currently stands at 13.3% and 1.1%, respectively, with nearly 177 million individuals diagnosed with hyperuricemia and 14.46 million with gout. </p>
        </div>
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/desc/img3.png">
        <div class="descrption-article-text">
            <p>In addition, we surveyed 367 individuals, inquiring if they had a family member or friend diagnosed with hyperuricemia. Surprisingly, 57.92% of the respondents answered with a "yes". These confirm that hyperuricemia has become a significant factor affecting national health and cannot be ignored. </p>
        </div>
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/desc/img4.jpeg">
        
        <div class="article-desc-sub-title" id="b4">Current Treatments and Drawbacks</div>
        <div class="descrption-article-text">
            <p>The two traditional treatment methods for lowering uric acid levels are associated with adverse side effects and several disadvantages. </p>
        </div>
        <div class="article-desc-sub-sub-title" id="c1">I. Allopurinol </div>
        <div class="descrption-article-text">
            <p style="margin-left: 3em;" >This first treatment method involves the usage of allopurinol to inhibit xanthine oxidase and subsequent uric acid production. Xanthine oxidase is an important enzyme that catalyzes the last step of purine catabolism: the oxidation of xanthine to uric acid. If xanthine oxidase is inhibited, uric acid production will cease. According to research articles, this method is associated with adverse effects such as allergic dermatitis (affecting 0.4% of users) and drug fever (affecting 10%-15% of users). </p>
        </div>
        <div class="article-desc-sub-sub-title" id="c2">II. Uricosuric Agents</div>
        <div class="descrption-article-text">
            <p style="margin-left: 3em;">This second treatment method involves the utilization of uricosuric agents probenecid, sulfinpyrazone, or benzyl bromide to accelerate uric acid production and excretion via the kidneys or gastrointestinal tract. This method may prove unsuitable for existing patients with gout or renal insufficiency, as it can cause kidney functional damage or can exacerbate kidney stones. </p>
        </div>
        <div class="descrption-article-text">
            <p>To summarize, the development of a safer treatment method with no adverse side effects or disadvantages for patients diagnosed with hyperuricemia is urgently needed. This is the issue that we addressed and responded to, and is the primary objective of our project. </p>
        </div>

        <div class="article-desc-title" id="a3">INSPIRATION</div>
        <div class="descrption-article-text">
            <p>We surprisingly discovered that hyperuricemia is a disease that is exclusive in humans but absent in most  animals. By conducting a series of researches, we were informed that this disease is due to the absence of a specific enzyme urate oxidase, which prevents the build-up of uric acid. The absence of urate oxidase in the human body stops the purine degradation pathway at the stage of uric acid, while in other organisms uric acid can be further degraded to a soluble end product that does not cause stones in the joint. This gives us the idea that the problem can be solved if the enzyme urate oxidase, also known as uricase, can be added to and produced regularly within the human body. </p>
        </div>
        <div class="descrption-article-text">
            <p>We have also learned that while two-thirds of uric acid is excreted from the kidneys, one-third is excreted through the intestines [4]. Being further inspired by the recent year cases of "living medicine," a term that describes the foundation that microbes provide for humans to solve catabolic problems, we decided to adopt a similar method to allow uricase to be produced within the intestines. </p>
        </div>

        <div class="article-desc-title" id="a4">OUR PROJECT</div>
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/desc/img5.jpg">
        <div class="descrption-article-text">
            <p>Our project introduces exogenous uricase as a novel treatment method for hyperuricemia. </p>
            <p>We utilized molecular cloning technologies and inserted the exogenous gene<span class="italics">(<strong>E. coli</strong> DH5α/pMD18T)</span>encoding for urate oxidase into the bacteria E. Coli cloning vector<span class="italics">(<strong>E. coli DH5α/pSB1A3-mRFP</strong>)</span>through plasmid transformation. We subsequently incorporated the modified probiotics into yogurt and freeze-dried powder edibles.     </p>

        </div>
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/desc/img6.jpeg">

        <div class="article-desc-sub-title" id="b5">Urate oxidase/Uricase </div>
        <div class="descrption-article-text">
            <p>Uricase, or Urate Oxidase, is a copper-containing oxidase responsible for the hydrolysis of insoluble uric acid to water-soluble allantoin and 5-hydroxlsouric acid in the purine degradation pathway. This enzyme does not exist naturally in the human body. [5]</p>
        </div>
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/desc/img7.png">
        <div class="article-img-description">Fig.1 Catablism of purine nucleotide. [6]</div>

        <div class="article-desc-sub-title" id="b6">Escheria coli Nissle 1917 (EcN)</div>
        <div class="descrption-article-text">
            <p>Our project uses Escherichia Coli Nissle 1917 as the chassis cell. It is a remarkable probiotic bacterium that has a unique profile concerning fitness factors in the absence of any virulence factors. More recently, EcN, due to its innocuous nature, has been used as a delivery vehicle for vaccines, cytokines, and other substances. [7]</p>
        </div>

        <div class="article-desc-sub-title" id="b7">Benefits</div>
        <div class="descrption-article-text">
            <p>Our project efficiently reaches the target of our goal to "develop a safer treatment method with no adverse side effects or disadvantages for patients diagnosed with hyperuricemia", as it is associated with the following benefits:  </p>
        </div>
        <ol type="i">
            <li>Unlike other drugs, our modified Escherichia coli will continuously release urate oxidase within the intestines. The coordinated intestinal flora microecology will play a positive, long-term role in regulating human health. </li>
            <li>The production of uric acid within the intestines can be directly decomposed without the involvement of drug absorption and metabolism within the body. It performs molecular diffusion along its concentration gradient, where uric acid within the bloodstream can backflow into the intestines and undergo direct decomposition. It does not need to go through the human metabolic system.       </li>
        </ol>

        <div class="article-desc-title" id="a5">GENETIC CIRCUIT</div>
        <div class="descrption-article-text">
            <p>Improvements were made based on our original gene circuit design, as in the process of conducting integrated human practice, one judge pointed out one of the possible problems of our design on the CCiC conference: As the genetically edited escherichia coil moves out with egestion, there's a possibility of them escaping into the environment and causing pollution to the genome of other species. As a response, we collected information from the igem registry and read research papers to redesign our genetic circuit, presenting the following figure as the final version.  </p>
        </div>
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/desc/img8.png">

        <div class="article-desc-sub-title" id="b8">The function of each gene</div>
        <div class="article-desc-sub-sub-title" id="c3">I. HucR</div>
        <div class="descrption-article-text">
            <p>HucR is a gene that transcribes a protein that can combine with Uric acid and the Huc promoter at the same time. If Uric acid is present, the protein encoded by HucR forms a complex with uric acid that cannot bind to the HucO promoter region, thereby allowing the transcription of HucO. If Uric acid is not present, the protein encoded by the HucR gene will bind with the promoter region of HucO, inhibiting transcription of the following sequence. </p>
        </div>
        <div class="article-desc-sub-sub-title" id="c4">II. uaZ</div>
        <div class="descrption-article-text">
            <p>The uaZ gene produces urate oxidase extracted from aspergillus flavus, which catalyzes uric acid into a final, more excretable form of allantoin. </p>
        </div>
        <div class="descrption-article-text">
            <p>The higher the concentration of uric acid, the more this enzyme is produced. </p>
        </div>
        <div class="article-desc-sub-sub-title" id="c5">III. CI</div>
        <div class="descrption-article-text">
            <p>The cI gene (BBa_C0051) is responsible for producing the protein 1F39, which can bind simultaneously to operators OR and OL, and arrange the DNA into a loop. This prevents transcription. </p>
            <p>The CI gene was stated in references articles and the IGEM registry as efficient but not oversensitive, so it suits the need that the suicide system will not be activated due to environmental fluctuations of Uric Acid concentration.</p>
        </div>
        <div class="article-desc-sub-sub-title" id="c6">IV. E</div>
        <div class="descrption-article-text">
            <p>The E gene produces a suicide protein 4EPI (BBa_K112806) extracted from Escherichia virus T4. This T4 Endolysin helps degrade the plasma membrane from its host. </p>
        </div>
        
        <div class="article-desc-sub-title" id="b9">How the circuit systematically works</div>
        <div class="descrption-article-text">
            <p>We incorporated a uric acid sensor, which detects the concentration of uric acid. The higher the concentration of the uric acid, the more efficiently the sequence will be translated. The uric oxidase is located directly after the uric acid sensor, meaning more oxidase will be produced when there is more uric acid. </p>
        </div>
        <div class="descrption-article-text">
            <p>We also included a suicide system, with a CI repressor repressing the translation of the suicide protein 4EPI. When the uric acid concentration drops, meaning our bacteria are outside of the body, the repressor will deactivate, and the suicide protein will be produced, killing the bacteria. </p>
        </div>


        <div class="article-desc-title" id="a6">REFERENCE</div>
        <div class="descrption-article-text">
            <p style="text-indent: 0;margin-left: 2em;">[1] Gois, Pedro Henrique França; Souza, Edison Regio de Moraes (2020-09-02).<a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC8094453"> "Pharmacotherapy for hyperuricaemia in hypertensive patients"</a>. The Cochrane Database of Systematic Reviews. 2020 (9): </p>
        </div>
        <div class="descrption-article-text">
            <p style="text-indent: 0;margin-left: 2em;">[2][3] 2021年中国高尿酸及痛风趋势白皮书<a href="https://wenku.baidu.com/view/df65394ac9aedd3383c4bb4cf7ec4afe05a1b15d.html">https://wenku.baidu.com/view/df65394ac9aedd3383c4bb4cf7ec4afe05a1b15d.html</a> </p>
        </div>
        <div class="descrption-article-text">
            <p style="text-indent: 0;margin-left: 2em;">[4] Yun Y, Yin H, Gao Z, Li Y, Gao T, Duan J, Yang R, Dong X, Zhang L, Duan W. Intestinal tract is an important organ for lowering serum uric acid in rats. PLoS One. 2017 Dec 21;12(12):e0190194. doi: 10.1371/journal.pone.0190194. PMID: 29267361; PMCID: PMC5739491.</p>
        </div>
        <div class="descrption-article-text">
            <p style="text-indent: 0;margin-left: 2em;">[5][6] MLA. Nelson, David L. (David Lee), 1942-. Lehninger Principles of Biochemistry（8th Edition). New York :W.H. Freeman, 2005.</p>
        </div>
        <div class="descrption-article-text">
            <p>[7] M. Schultz, J.P. Burton, Chapter 5 - Escherichia coli Nissle 1917, Editor(s): Martin H. Floch, Yehuda Ringel, W. Allan Walker, The Microbiota in Gastrointestinal Pathophysiology, Academic Press, 2017, Pages 59-69, ISBN 9780128040249, <a href="https://doi.org/10.1016/B978-0-12-804024-9.00005-7.">https://doi.org/10.1016/B978-0-12-804024-9.00005-7.</a>(<a href="https://www.sciencedirect.com/science/article/pii/B9780128040249000057">https://www.sciencedirect.com/science/article/pii/B9780128040249000057</a>) </p>
        </div>




        




    </div>


    <!-- 底部 -->
    {% include 'footer.html' %}

</body>

</html>