<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education | Sesame_Shenzhen - iGEM 2022</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='description.css') }}" />
    {% include 'link.html' %}

</head>

<body>
    <!-- 顶部导航栏 -->
    {% include 'menu.html' %}

    <!-- 封图 -->
    <img class="cover-img" src="https://static.igem.wiki/teams/4299/wiki/covers/educa.jpg">

    <!-- 侧边栏 -->
    <div id="description-article-sidebar" class="">
        <div class="article-sidebar-a sidebar-contents">CONTENTS</div>
        <!-- <hr class="layui-border-cyan" style="margin-bottom: 10px;"> -->

        <a class="article-sidebar-a" href="#a1">Overview</a>
        <a class="article-sidebar-a sidebar-b" href="#b1">Primary Goals</a>
        <a class="article-sidebar-a sidebar-b" href="#b2">How did we determine the type of materials we produced</a>
        <a class="article-sidebar-a" href="#a2">I. Wechat Official Acount</a>
        <a class="article-sidebar-a sidebar-b" href="#b3">1.Synthetic Biology Education </a>
        <a class="article-sidebar-a sidebar-b" href="#b4">2.Hyperuricemia and Probiotics Education </a>
        <a class="article-sidebar-a sidebar-b" href="#b5">3.Feedback Collection</a>
        <a class="article-sidebar-a" href="#a3">II. Pamphlets</a>
        <a class="article-sidebar-a" href="#a4">III. Synthetic Biology Lecture</a>
        <a class="article-sidebar-a" href="#a5">IV. Puzzles </a>
        <a class="article-sidebar-a" href="#a6">V. Poker cards </a>
        <a class="article-sidebar-a" href="#a7">VI. Podcast</a>
        <a class="article-sidebar-a" href="#a8">Conclusion</a>




    </div>

    <!-- 内容 -->
    <div class="content-div">
        <div class="article-top-line">
            <hr class="layui-border-cyan">
        </div>

        <div class="article-desc-title" id="a1">Overview</div>
        <div class="article-desc-sub-title" id="b1">Primary Goals</div>
        <div class="descrption-article-text">
            <p>We aimed our educative and publicly engaging activities on three primary goals: </p>
            <p>1)To strengthen the public's knowledge of synthetic biology. </p>
            <p>2)To raise public awareness regarding hyperuricemia. </p>
            <p>3)To publicize common knowledge regarding probiotics.  </p>
        </div>
        <div class="descrption-article-text">
            <p>The first objective is the overall goal of iGEM, while the last two are closely linked to our research topic. The latter two objectives will also be able to answer and dispel some common questions and misconceptions to assume a social and ethical obligation for the consumer community while facilitating the launch and marketing of products as possible prospects for the project.</p>
        </div>
        <div class="descrption-article-text">
            <p>Various activities and forms of communication were developed, from online articles and podcast to face-to-face public lectures, physical brochures, puzzles, and playing cards. </p>
        </div>
        <div class="article-desc-sub-title" id="b2">How did we determine the type of materials we produced</div>
        <div class="descrption-article-text">
            <p>We have decided our forms of education considering the following reasons:</p>
            <p>1) To acheive the best use of our resources while the funding is limited, and ensure the method is leargely feasible for we organisers as high school students. </p>
            <p>For example, school lectures would considered to be a good form while organising a summit conference is beyond our capability.</p>
            <p>2) The method should involve active learning for both organiser and the audience. </p>
            <p>For example, Our team members gain a more well-rounded knowledge about SynBio while writing review and science impartition articles, enabling themselves do acheive better performance in later education works. </p>
            <p>3) The method should be creative and intriguing. </p>
            <p>For most students, combining learning with fun things such poker cards and puzzles would increase their willingness to actively participate. </p>
        </div>
        <div class="descrption-article-text">
            <p>In the following section, you'll be able to view each of our educational activities from 2 aspects: Firstly there'll be a detailed description about how the activity was carried out, supported by explanation and evidences. Secondly there'll be explanation about how interactive feedbacks were collected. </p>
        </div>
        <div class="article-desc-title" id="a2">I. Wechat Official Acount</div>
        <div class="descrption-article-text">
            <p>In order to effectively carry out science impartition and record our project progress, we have been operating a Wechat official account since august 2022. We have released a number of educational articles, accumulated 930 viewers and 81 fixed followers in total within the 2 month period. </p>
        </div>
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/educa/img1.jpeg">
        <div class="descrption-article-text">
            <p>The majority of our team members take their roles in article production, and our articles can be categorized into 2 aspects based on the content. </p>
        </div>
        <div class="article-desc-sub-title" id="b3">1.Synthetic Biology Education</div>
        <div class="descrption-article-text">
            <p>As a responsose of Goal 1. For our target audience, the public who have none or limited knowledge about synthetic biology, the content we released can effectively help them quickly and systematically gain a well-rounded view about SynBio. Our content involves the general concept, history and development and techniques and application. </p>
        </div>
        <div class="descrption-article-text">
            <p><strong>Content Planning Table: </strong> </p>
        </div>
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/educa/img2.png">
        <div class="descrption-article-text">
            <p><strong>Access Link: </strong> </p>
        </div>
        <div class="descrption-article-text">
            <p><a href="https://mp.weixin.qq.com/s/uEbFPk3G0CnchUMlGtkDvQ">https://mp.weixin.qq.com/s/uEbFPk3G0CnchUMlGtkDvQ</a> </p>
            <p><a href="https://mp.weixin.qq.com/s/sWR9Vu-eh-pfH_vif2GDLQ">https://mp.weixin.qq.com/s/sWR9Vu-eh-pfH_vif2GDLQ</a> </p>
            <p><a href="https://mp.weixin.qq.com/s/usweK10q59Lum6rMyEe0IQ">https://mp.weixin.qq.com/s/usweK10q59Lum6rMyEe0IQ</a> </p>
        </div>
        <div class="article-desc-sub-title" id="b4">2.Hyperuricemia and Probiotics Education </div>
        <div class="descrption-article-text">
            <p>This category is designed as a response to Goal 2 and Goal 3, as well as to address to the related social issue we identified: Due to factors such as false propaganda of the businesses (bragging about the efficacy for profit), the variety of listing standards and information failure, consumers may underestimate or deify the efficacy of probiotics. We have designed a series of content introducing details about hyperuricemia and probiotics to the public, as well as to answer some common questions and misconceptions in the third article. </p>
        </div>
        <div class="descrption-article-text">
            <p><strong>Content Planning Table: </strong> </p>
        </div>
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/educa/img3.png">
        <div class="descrption-article-text">
            <p><strong>Access link: </strong> </p>
        </div>
        <div class="descrption-article-text">
            <p><a href="https://mp.weixin.qq.com/s/4RMCvbXSAVfnKwfyeScSxw">https://mp.weixin.qq.com/s/4RMCvbXSAVfnKwfyeScSxw</a> </p>
            <p><a href="https://mp.weixin.qq.com/s/Uo_FHBVT2XUsrCTCV-ewzg">https://mp.weixin.qq.com/s/Uo_FHBVT2XUsrCTCV-ewzg</a> </p>
            <p><a href="https://mp.weixin.qq.com/s/6rcxVWoBZLYgHkndOLjqog">https://mp.weixin.qq.com/s/6rcxVWoBZLYgHkndOLjqog</a> </p>
        </div>
        <div class="article-desc-sub-title" id="b5">3.Feedback Collection</div>
        <div class="descrption-article-text">
            <p>After all the articles were released, we sent a survey to our readers asking them for feedbacks as well as constructive criticisms. We have collected 169 samples in total.</p>
        </div>
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/educa/img4.jpg">
        <div class="descrption-article-text">
            <p>In overall, 157/169(92.9%) people found our articles useful and claimed that our articles help them gain a more well-rounded view about synthetic biology. Our articles acheived an overall score of 8.84/10, provided by our readers. </p>
        </div>
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/educa/img5.jpg">
        <div class="descrption-article-text">
            <p>In questions asking about detailed feedback, we found 85.8% of people who filled the form had zero knowledge about synthetic biology before, but gained a general view about synthetic biology after reading our articles. </p>
            <p>61.54% of our readers claimed they found themselves being interested in synthetic biology and 53.85% of our readers have the willingness to learn more about this field (or devote in related careers) in the future. </p>
        </div>
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/educa/img6.jpg">
        <div class="descrption-article-text">
            <p>There are also large proprtion of people who said our articles answered the questions they have before. </p>
        </div>
        <div class="descrption-article-text">
            <p>We are delighted to see that that our approach works efficently in acheiving our goals based on the data we collected. </p>
        </div>
        <div class="article-desc-title" id="a3">II. Pamphlets</div>
        <div class="descrption-article-text">
            <p>In order to make our materials accessible to a wider group of audiences who may have questions, concerns, or misconceptions about the topic of hyperuricemia and probiotics, we have redesigned and printed our science impartation contents of I.2 as pamphlets and placed them which in front of the gate of multiple subdistrict offices in Nanjing, China, where community members pass by on a daily basis and usually visit for public affairs. Many people had the opportunity to get the booklet we designed so that more people would have fewer misconceptions about uric acid and probiotics. Ultimately, the people will have a new understanding of these concepts.</p>
        </div>
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/educa/img7.jpeg">
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/educa/img8.jpeg">
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/educa/img9.jpeg">
        <div class="article-desc-title" id="a4">III. Synthetic Biology Lecture</div>
        <div class="descrption-article-text">
            <p>As a response to Goal 1. <strong>"Synthetic Biology in a Nutshell"</strong>   is the lesson we designed to provide a general knowledge about synthetic biology to 15-18 years old high school student group. The content is concise enough to be finished within 45 minutes. </p>
            <p><strong>Check out our powerpoint here: </strong> </p>
        </div>
        <video style="margin-left: 2em;" width="640" height="400" controls>
            <source src="{{ url_for('static', filename='ppt.webm') }}" type="video/webm">
          </video>
        <div class="descrption-article-text">
            <p>Before getting into the main content, we asked the students if they knew anything about synthetic biology, and we found that very few of them are familiar with the term (Only 1 or 2in the entire classroom.) However after the lecture when we asked who thinks now they understood SynBio in a greater depth, almost everybody in the classroom raised their hand. </p>
        </div>
        <div class="descrption-article-text">
            <p>During the presentation, the students were very interested, many of them paying close attention to the applied aspects of synthetic biology. Some students asked us questions about synthetic biologies, like how we put the theory into practice in our project, and some of them relates the topic to genetic editing and expressed their concerns. </div>
        <div class="descrption-article-text">
            <p>We gave the lecture in WLSA Shanghai, China and UWC, San Jose, Costa Rica. </p>
        </div>
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/educa/img10.jpeg">
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/educa/img11.jpeg">
        <div class="article-desc-title" id="a5">IV. Puzzles </div>
        <div class="descrption-article-text">
            <p>As a response to Goal 1. This activity aims at raising awareness about synthetic biology through fun, interactive ways. </p>
        </div>
        <div class="descrption-article-text">
            <p>We collaborated with LZU-HS-Pro-B and custom-created a puzzle piece that assembles into a poster. (Check out more details in the partnership section. ) Visual Capitalist created the poster, and LZU-HS-Pro-B has confirmed the copyright of this material is legal for us to reproduce for educational purposes. https://www.visualcapitalist.com/how-synthetic-biology-redesigns-life/<a href="https://www.visualcapitalist.com/how-synthetic-biology-redesigns-life/">https://www.visualcapitalist.com/how-synthetic-biology-redesigns-life/</a> </p>
        </div>
        <div class="descrption-article-text">
            <p>Our target audience, ranging from primary students to adults, can enjoy the fun of assembling a puzzle while trying to decide what each word links to. Through solving the puzzle pieces, they are required to read the puzzle's text, enabling them to absorb the knowledge while having fun. They will be able to strengthen their memory of synthetic biology while playing. This form of communication can plant a concept of synthetic biology in the younger audience and educate older people about synthetic biology in a fun and engaging way. </p>
            <p>We distributed the puzzles to peers in our schools, from adults to little children. </p>
        </div>
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/educa/img12.jpeg">
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/educa/img13.jpeg">
        <div class="descrption-article-text">
            <p>The audience has reflected a positive learning result. Primary students aged 10, were able to tell us what they believed synthetic biology was: <strong>"to change the genome of an organism for our own use"</strong> </p>
        </div>
        <div class="article-desc-title" id="a6">V. Poker cards </div>
        <div class="descrption-article-text">
            <p>As a response to Goal 1. The aim of this activity is also to raise awareness about synthetic biology through physical, interactive forms. </p>
        </div>
        <div class="descrption-article-text">
            <p>Considering some of the puzzles might be bulky and time-consuming, we have designed poker cards to incorporate aspects of synthetic biology. We printed definitions of technical terms of synthetic biology onto the card so the players can absorb the knowledge whilst playing. To reach more audiences in China we have custom made the pokercards in chinese. </p>
        </div>
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/educa/img14.jpeg">
        <div class="descrption-article-text">
            <p>Poker Card Design</p>
        </div>
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/educa/img15.jpeg">
        <div class="article-desc-title" id="a7">VI. Podcast</div>
        <div class="descrption-article-text">
            <p>As a response to Goal 2. We collaborated with  LZU-HS-Pro-B to create a  podcast in which we discussed the issue of hyperuricemia, its formation, and its dangers in a cozy and humorous ambience. The podcast video can be found in the partnership page. </p>
        </div>
        <div class="article-desc-title" id="a8">Conclusion</div>
        <div class="descrption-article-text">
            <p>In conclusion, we effectively carried out a number of activites of different categories. At the same time, we recommend our team to be considered as a competitive candidate for the education special award for the following reasons: </p>
        </div>
        <div class="descrption-article-text">
            <p><strong>1) We have not only finished a sufficient amount of well-designed impartitions but also built an interactive feedback cycle with our audiences to acheive effective public engagement; </strong> </p>
        </div>
        <div class="descrption-article-text">
            <p><strong>2) We applied an innovative method that integrates recreational games and education that acheieves a prominent effect in widening the age group of audiences. </strong> </p>
        </div>


    </div>


    <!-- 底部 -->
    {% include 'footer.html' %}

</body>
