<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Engineering Success | Sesame_Shenzhen - iGEM 2022</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='description.css') }}" />
    {% include 'link.html' %}

</head>

<body>
    <!-- 顶部导航栏 -->
    {% include 'menu.html' %}

    <!-- 封图 -->
    <img class="cover-img" src="https://static.igem.wiki/teams/4299/wiki/covers/engi.jpg">

    <!-- 侧边栏 -->
    <div id="description-article-sidebar" class="">
        <div class="article-sidebar-a sidebar-contents">CONTENTS</div>
        <!-- <hr class="layui-border-cyan" style="margin-bottom: 10px;"> -->

        <a class="article-sidebar-a" href="#a1">Generation 1</a>
        <a class="article-sidebar-a sidebar-b" href="#b1">Design: </a>
        <a class="article-sidebar-a sidebar-b" href="#b2">Build: </a>
        <a class="article-sidebar-a sidebar-b" href="#b3">Test: </a>
        <a class="article-sidebar-a sidebar-b" href="#b4">Learn: </a>
        <a class="article-sidebar-a" href="#a2">Generation 2</a>
        <a class="article-sidebar-a sidebar-b" href="#b5">Design: </a>
        <a class="article-sidebar-a sidebar-b" href="#b6">Build: </a>
        <a class="article-sidebar-a sidebar-b" href="#b7">Test:</a>
        <a class="article-sidebar-a sidebar-b" href="#b8">Learn: </a>



    </div>

    <!-- 内容 -->
    <div class="content-div">
        <div class="article-top-line">
            <hr class="layui-border-cyan">
        </div>

        <!-- <div class="article-desc-title" id="a"></div>
        <div class="article-desc-sub-title" id="b"></div>
        <div class="descrption-article-text">
            <p></p>
        </div>
        <img class="descrption-article-img" src="">
        <div class="article-img-description"></div> -->


        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/engi/eng-1.png">
        <div class="descrption-article-text">
            <p>Incorporating the engineering thought process is central to every design, including synthetic biology. This process is repeated until a biological system with the desired function is identified. This incremental and iterative approach enables engineering despite our (often largely) incomplete understanding of many biological processes. This process is essential to successfully incorporate and implement our project. Thus we followed the process and iterated 2 repeats of the engineering cycle. </p>
        </div>
        <div class="descrption-article-text">
            <p>The first generation/repeat of the cycle, we produced a simple E.coli Nissle 1917 introduced with Urate Oxidase. </p>
        </div>

        <div class="article-desc-title" id="a1">Generation 1</div>

        <div class="article-desc-sub-title" id="b1">Design: </div>
        <div class="descrption-article-text">
            <p>During the first generation of our bacteria, our sole purpose was to introduce urate oxidase into a e.coli. </p>
        </div>

        <div class="article-desc-sub-title" id="b2">Build: </div>
        <div class="descrption-article-text">
            <p>To build the model of our bacteria, we inserted the Uricase plasmid into DH5alpha e.coli for testing. (More details can be found at lab notes)</p>
        </div>

        <div class="article-desc-sub-title" id="b3">Test: </div>
        <div class="descrption-article-text">
            <p>We verified the ability of the production and catalytic effect of the enzyme under intentinal conditions. The final results were satisfactory and proved the effectiveness of our bacteria. </p>
        </div>
        <div class="descrption-article-text">
            <p>We constructed E.coli 1917 with only urate oxidase as the experimental group, and transferred an empty plasmid into another strand as the control group. </p>
        </div>
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/engi/eng-3.png">
        <div class="descrption-article-text">
            <p>Final results proved the functionality of the urate oxidase enzyme. </p>
        </div>
        <div class="descrption-article-text">
            <p>More testing was also performed on other factors influencing the efficacy of Urate Oxidase, such as the temperature and pH. More details can be found at the Proof of concepts page. </p>
        </div>

        <div class="article-desc-sub-title" id="b4">Learn: </div>
        <div class="descrption-article-text">
            <p>We learned that only introducing an enzyme may not be enough to ensure a safe implementation in the human body (please see Integrated Human practices - CCIC to see details) as there is a risk of GM contamination. </p>
        </div>

        <div class="article-desc-title" id="a2">Generation 2</div>
        <div class="article-desc-sub-title" id="b5">Design: </div>
        <div class="descrption-article-text">
            <p>We redesigned our genetic circuit and introduced a dynamic regulation system detecting uric acid concentration, linking the expression of uricase and the suicide protein together. </p>
        </div>
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/engi/eng-4.png">
        <div class="descrption-article-text">
            <p>More details on how this system works can be found at the project description page.</p>
        </div>

        <div class="article-desc-sub-title" id="b6">Build: </div>
        <div class="descrption-article-text">
            <p>We constructed the bacteria. </p>
        </div>

        <div class="article-desc-sub-title" id="b7">Test: </div>
        <div class="descrption-article-text">
            <p>We introduced both systems, the Uric acid promoter and the catabolic enzyme, into E.coli nissle 1917, and simulated the conditions inside the gut. </p>
        </div>
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/engi/eng-5.png">
        <div class="descrption-article-text">
            <p>Experimental conditions: </p>
        </div>
        <ul>
            <li>pH of 7</li>
            <li>The temperature of 37 degrees Celsius</li>
            <li>Hypoxia (hypoxic bag used)</li>
            <li>Add bile salts</li>
            <li>Pancreatic juice</li>
            <li>Liquid LB medium</li>
            <li>Adjust the uric acid concentration to 2000 μM.</li>
        </ul>
        <div class="descrption-article-text">
            <p>Experimental Process:</p>
            <p>Co-culture the bacteria with the above materials.</p>
            <p>Co-incubate for 48 hours,  incubate at 37°C on a shaker at 180 rpm</p>
            <p>Test for uric acid concentration</p>
        </div>
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/engi/eng-6.png">
        <div class="descrption-article-text">
            <p>The final degradation rate of the control group was about 10%, and the experimental group was about 45%, proving the functionality of our system. </p>
        </div>

        <div class="article-desc-sub-title" id="b8">Learn: </div>
        <div class="descrption-article-text">
            <p>We could have implemented a dynamic population control system based on signaling molecules when we attended the conference with 嘉亿生物, Jiayi research institute. </p>
        </div>

    </div>


    <!-- 底部 -->
    {% include 'footer.html' %}

</body>

</html>
