<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrepreneurship | Sesame_Shenzhen - iGEM 2022</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='description.css') }}" />
    {% include 'link.html' %}

</head>

<body>
    <!-- 顶部导航栏 -->
    {% include 'menu.html' %}

    <!-- 封图 -->
    <img class="cover-img" src="https://static.igem.wiki/teams/4299/wiki/covers/entre.jpg">

    <!-- 侧边栏 -->
    <div id="description-article-sidebar" class="">
        <div class="article-sidebar-a sidebar-contents">CONTENTS</div>
        <!-- <hr class="layui-border-cyan" style="margin-bottom: 10px;"> -->

        <a class="article-sidebar-a" href="#a1">Market overview: </a>
        <a class="article-sidebar-a" href="#a2">Our Product:</a>
        <a class="article-sidebar-a sidebar-b" href="#b1">Value proposition: </a>
        <a class="article-sidebar-a sidebar-b" href="#b2">Product details:</a>
        <a class="article-sidebar-a" href="#a3">Business strategy: </a>
        <a class="article-sidebar-a sidebar-b" href="#b3">Timeline</a>
        <a class="article-sidebar-a sidebar-b" href="#b4">Team structure and policy design:</a>
        <a class="article-sidebar-a sidebar-c" href="#c1">Emergence stage </a>
        <a class="article-sidebar-a sidebar-c" href="#c2">Growth and stabilization stage: </a>
        <a class="article-sidebar-a sidebar-c" href="#c3">Crisis stage:</a>
        <a class="article-sidebar-a sidebar-b" href="#b5">Competitor analysis:</a>
        <a class="article-sidebar-a sidebar-c" href="#c4">Nutrition Care: </a>
        <a class="article-sidebar-a sidebar-c" href="#c5">BY-Health: </a>
        <a class="article-sidebar-a sidebar-c" href="#c6">PM-International (PM):</a>
        <a class="article-sidebar-a sidebar-b" href="#b6">Business model</a>
        <a class="article-sidebar-a sidebar-c" href="#c7">Supplier: </a>
        <a class="article-sidebar-a sidebar-c" href="#c8">Independent brand:</a>
        <a class="article-sidebar-a sidebar-c" href="#c9">Direct Sales: </a>
        <a class="article-sidebar-a sidebar-c" href="#c10">Research (similar to Ginkgo bioworks): </a>
        <a class="article-sidebar-a sidebar-b" href="#b7">Timeline:</a>
        <a class="article-sidebar-a sidebar-c" href="#c11">2023 1st quarter:</a>
        <a class="article-sidebar-a sidebar-c" href="#c12">2023 2nd quarter to 2027 1st quarter: </a>
        <a class="article-sidebar-a sidebar-d" href="#d">Financial prospect:</a>
        <a class="article-sidebar-a sidebar-d" href="#d">Funding:</a>
        <a class="article-sidebar-a sidebar-d" href="#d">General Financial prospect: </a>
        <a class="article-sidebar-a sidebar-b" href="#b8">Marketing</a>
        <a class="article-sidebar-a sidebar-c" href="#c13">General marketing strategy: </a>
        <a class="article-sidebar-a sidebar-c" href="#c14">Online Marketing: </a>
        <a class="article-sidebar-a sidebar-c" href="#c15">Physical marketing:</a>
        <a class="article-sidebar-a sidebar-b" href="#b9">Channelling</a>
        <a class="article-sidebar-a sidebar-c" href="#c16">Traditional channeling: </a>
        <a class="article-sidebar-a sidebar-c" href="#c17">Customer sales: </a>
        <a class="article-sidebar-a sidebar-b" href="#b10">Customer connection</a>
        <a class="article-sidebar-a sidebar-c" href="#c18">Loyalty programs:</a>
        <a class="article-sidebar-a sidebar-b" href="#b11">Risk management</a>
        <a class="article-sidebar-a sidebar-b" href="#b12">SWOT</a>
        <a class="article-sidebar-a sidebar-b" href="#b13">Future plans</a>








    </div>

    <!-- 内容 -->
    <div class="content-div" style="font-family: -apple-system, "PingFang SC", "Hiragino Sans GB", "Source Han Sans SC", "Noto Sans CJK SC", "Microsoft YaHei", "WenQuanYi Micro Hei", "SimHei", sans-serif;">
        <div class="article-top-line">
            <hr class="layui-border-cyan">
        </div>

        
        <div class="descrption-article-text">
            <p>*Please note that this plan has some deviation from reality. No Genetically modified probiotics are permitted on the market in any country. In this business plan, we assumed that in 2023, GM probiotics are legal and approved for the chinese market. </p>
        </div>
        <div class="article-desc-title" id="a1">Market overview: </div>
        <div class="descrption-article-text">
            <p>In recent years, incidences of gout within China and abroad have increased significantly due to the widespread accessibility to high-purine foods associated with economic development. According to《The White book on trends of Hyperuric acid and gout in China, 2021》[1], a clear trend of uricemia diagnosis is being demonstrated among younger generations. The prevalence of hyperuricemia and gout in China stands at 13.3% and 1.1%, respectively, with nearly 177 million individuals diagnosed with hyperuricemia and 14.46 million with gout. In addition, we conducted a survey on 367 people, inquiring if they had a family member or friend diagnosed with hyperuricemia. Surprisingly, 57.92% of those who were surveyed responded with a "yes". In other words, hyperuricemia has become a significant factor affecting national health, meaning it has a vast market space for treatments. </p>
        </div>
        <div class="article-desc-title" id="a2">Our Product:</div>
        <div class="article-desc-sub-title" id="b1">Value proposition: </div>
        <div class="descrption-article-text">
            <p>Our product is designed to apply for the Dietary Supplement recognition label under Chinese law. This decision was made because:</p>
        </div>
        <ul>
            <li>Our product doesn't have to undergo expensive and time-consuming clinical trials for Drug Recognition, and supplemental recognition in China only requires a clinical trial for the proof of safeness. </li>
            <li>Our product's foundational organism (E.coli Nissle 1917) is already on the list of approved probiotics list for Dietary supplements in China. </li>
            <li>A dietary supplement label for our product can build trust amongst the consumers as it is approved by the government for its safety. Safety is ranked as the 1st factor of consideration when buying dietary supplements amongst the 92 respondents that completed our market research survey. </li>
        </ul>
        <div class="descrption-article-text">
            <p>Our product targets the supplements market, aiming to solve problems that were discovered through our market research survey - Supplements are ineffective/take too long to lower Uric acid levels. </p>
        </div>
        <div class="article-desc-sub-title" id="b2">Product details:</div>
        <div class="descrption-article-text">
            <p>This page consists of the relevant information about our uric acid lowering Bacteria, such as the pricing, packaging, the production of our product. </p>
        </div>
        <div class="article-desc-title" id="a3">Business strategy: </div>
        <div class="article-desc-sub-title" id="b3">Timeline</div>
        <div class="descrption-article-text">
            <p>According to the enterprise lifecycle model, there are different stages of development for a company. They are the emergence, growth, stabilisation, and crisis phase. Under each developmental phase, we have different strategies for various aspects of our company, such as tram structure, funding, and product details. </p>
        </div>
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/entre/en1.png" />
        <div class="article-desc-sub-title" id="b4">Team structure and policy design:</div>
        <div class="article-desc-sub-sub-title" id="c1">Emergence stage </div>
        <div class="descrption-article-text">
            <p>During the emergence stage, our team would mainly compose of the original start-up members of our current team. At this stage, trust is the main component tying the group together, and the ability to work together efficiently and towards the same goal is key. Therefore, it is suitable to use a federal decentralization structure to disperse the work amongst different people. Under federal decentralization, each person is like an independent organization within the business, which all work towards the same goal they are responsible for - sustaining and growing our company. In other words, people are rewarded based on the final result, not what they did during the process. </p>
        </div>
        <div class="descrption-article-text">
            <p>There are several benefits to this structure:</p>
        </div>
        <ul>
            <li>It is easily manageable when there is a small number of people in the group, especially during the emergence stage.</li>
            <li>It doesn't rely on an experienced leader, which suits us as everyone is inexperienced in management and strategy. </li>
            <li>We work towards the same goal and are responsible for the final result, meaning that everyone would wholeheartedly dedicate their time and effort towards the company. </li>
        </ul>
        <div class="article-desc-sub-sub-title" id="c2">Growth and stabilization stage: </div>
        <div class="descrption-article-text">
            <p>During these 2 stages, as the company's size grows, another team management structure is required. As the team number increases, we will transform our structure into a strategy-led federal decentralization structure. The members would be responsible for following the business strategy, not the end result. This form would require a forward-thinking, strategic leader. </p>
        </div>
        <div class="descrption-article-text">
            <p>Later on, as the team number increases again, we would transform into military-style management. This is the opposite of federal decentralization. Everyone is only responsible for the work that they are assigned by their superiors and don’t have to be responsible for anything other than that. This requires an extremely detailed and robust set of rules for reward and punishment, and a very experienced leader. </p>
        </div>
        <div class="descrption-article-text">
            <p>In general, as we expand our company, the team should gain more and more experience in management, and should be able to lead the company. </p>
        </div>
        <div class="article-desc-sub-sub-title" id="c3">Crisis stage:</div>
        <div class="descrption-article-text">
            <p>During the crisis stage, the economic environment changes, and our product may not be needed as much anymore. Reform is required. It is essential that we are able to adapt and change, where everyone works for their the companies own good. Therefore we need to transform back into a similar strategy that we had during the emergence stage, based on federal decentralization. </p>
        </div>
        <div class="article-desc-sub-title" id="b5">Competitor analysis:</div>
        <div class="descrption-article-text">
            <p>Through the market research survey we’ve conducted, the respondents revealed to us several brands that we were directly competing with. </p>
        </div>
        <div class="article-desc-sub-sub-title" id="c4">Nutrition Care: </div>
        <div class="descrption-article-text">
            <p>Nutrition Care (NC) is a brand from Australia that has a solid customer base in China. They produce a variety of supplements (including uric acid-lowering probiotics), most of which are registered supplementary products. They have a huge comparative advantage over their customer base. They have induced customer programs that enable them to cheaply buy and share products with one other, making NC products more desirable than others. </p>
        </div>
        <div class="article-desc-sub-sub-title" id="c5">BY-Health: </div>
        <div class="descrption-article-text">
            <p>BY-Health (BYH) is one of the leading dietary supplement producers in china. They have many products available, from protein powder to children faced DHA. However, under the brand name BYH, there is no Uric Acid lowering products available. </p>
        </div>
        <div class="article-desc-sub-sub-title" id="c6">PM-International (PM):</div>
        <div class="descrption-article-text">
            <p>PM-International is a supplement company founded in Luxembourg. Despite the lack of a large customer body in China, PM has a unique sales body that enables its products to have a faultless spread and a generally wide acceptance amongst consumers. Its sales and business model discarded the classical channeling method by going through shops and pharmacies. It uses direct customer contact. A customer can introduce PM to another friend or family member of him/her. With the prebuilt trust between the customer and friend and the excellent product of PM itself, PM is able to quickly spread between groups of friends and families. </p>
        </div>
        <div class="descrption-article-text">
            <p>PM doesn’t have a product relating to Uric Acid control. </p>
        </div>
        <div class="article-desc-sub-title" id="b6">Business model</div>
        <div class="descrption-article-text">
            <p>We have several different parts constituting our business model. </p>
        </div>
        <div class="article-desc-sub-sub-title" id="c7">Supplier: </div>
        <div class="descrption-article-text">
            <p>Under this business model, we aim to work with existing supplementary brands and supply them with our specialized probiotics, which they can rebrand as their own product. This would combine the advantage of our effective product with their pre-built customer base. We can overcome the barrier of trust from an unknown brand by rebranding with a famous brand, and presenting our product to the market. This is also a good way to trail our product on the market to see the potential demand for this type of product. </p>
        </div>
        <div class="descrption-article-text">
            <p>There are some potential disadvantages to this model:</p>
        </div>
        <ul>
            <li>Less profit</li>
            <li>Doesn’t help our company build an independent brand</li>
            <li>Higher costs for contract negotiation</li>
            <li>Easy competition as it is hard to maintain a technological advantage in this field. </li>
        </ul>
        <div class="article-desc-sub-sub-title" id="c8">Independent brand:</div>
        <div class="descrption-article-text">
            <p>With this model, We acquire the classical business methodology of R&D, production, marketing and branding, and sales. We will detail each category of this business model later on in the text. Our main goal is to establish an independent, well-known brand in the field of commercial biotechnology. We want the market to see us as a company that aims to produce all kinds of biotech-related products that enhance the lives of humans, ranging from personal care to environmental protection. An increased reputation for our brand can not only significantly increase the sales of our product but can also attract investment and other sorts of funding. The Brand can also act as an economic moat, reducing the risk of losing profit and market share.</p>
        </div>
        <div class="descrption-article-text">
            <p>However, there are several disadvantages to this method:</p>
        </div>
        <ul>
            <li>It requires a significant amount of time and effort to build the brands. </li>
            <li>Under a sensitive market environment in China, the hard-worked reputation can be easily lost. </li>
        </ul>
        <div class="article-desc-sub-sub-title" id="c9">Direct Sales: </div>
        <div class="descrption-article-text">
            <p>We deliberately abandon traditional distribution methods and rely instead on direct contact with the consumer. This allows first-hand communication of product advantages and results with customers. We don't employ channelling or sales but instead rely on customer distributors. They can profit from distributing and selling our products to anyone. The profit is enough to provide a substitute for a full-time job. Simply put, we are employing our customers as channelling and marketing. </p>
            <p>This is an easy and cheap method to grow your business, but it is definitely time-consuming as it cannot reach a lot of customers instantly. </p>
        </div>
        <div class="article-desc-sub-sub-title" id="c10">Research (similar to Ginkgo bioworks): </div>
        <div class="descrption-article-text">
            <p>This model works by conducting research and designing living organisms for other institutions to achieve a certain task for them. Organisations such as privately owned businesses or governments can come to us for solutions solvable via synthetic biology. Examples could include Factories aiming to improve a part of their production or governments aiming to clean up polluted regions. We gain money, shares of the company, or equity fees in any successful projects in return. This service can build a deep economic moat for us, as not all companies can afford the astronomical investment in biotech labs and equipment and the professionals recruited. </p>
        </div>
        <div class="descrption-article-text">
            <p>Disadvantages:</p>
        </div>
        <ul>
            <li>The advantage is also their disadvantage - it's expensive to build the moat, especially when there is already such a strong competitor, Ginkgo bioworks. </li>
            <li>Requires a strong R&D department.</li>
            <li>Takes a long time to develop and test a solution. </li>
        </ul>
        <div class="article-desc-sub-title" id="b7">Timeline:</div>
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/entre/en2.png" />
        <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vRRdLbZGP3nDVHjWKABtYk_5OVeoSVEccideQdqcJae7QDxfXxNZ1Pg9IHzfcPL1GAF6wcqiYhIXK0C/pubchart?oid=602137122&format=interactive">https://docs.google.com/spreadsheets/d/e/2PACX-1vRRdLbZGP3nDVHjWKABtYk_5OVeoSVEccideQdqcJae7QDxfXxNZ1Pg9IHzfcPL1GAF6wcqiYhIXK0C/pubchart?oid=602137122&format=interactive</a>
        <div class="descrption-article-text">
            <p>*This model was estimated based on data provided by Mr. Liu, data collected from SEC filings and annual reports from other similar biotech companies, and other relevant sources. The estimation is inaccurate and will most likely not reflect reality, but we have tried to make the model as accurate as possible. More details will be provided in the following section. </p>
        </div>
        <div class="descrption-article-text">
            <p>Description of each phase of our business: </p>
        </div>
        <div class="article-desc-sub-sub-title" id="c11">2023 1st quarter:</div>
        <div class="descrption-article-text">
            <p>This is the emerging stage of our business. We have no cash flow whatsoever. Our initial money for investment can come from our own pockets or bank loans. At this stage, we focus primarily on production, and aim to search for investors for cash and brands that are willing to buy our product.</p>
        </div>
        <div class="descrption-article-text">
            <p>We interviewed an expert in Probiotics manufacturing, Mr. Liu QinRong from Lanzhou University. He has manufactured and produced consumer probiotics that are also capable of lowering Uric acid in the intestine. </p>
        </div>
        <div class="descrption-article-text">
            <p>We inquired various questions about our product, including the cost and revenue of production. </p>
        </div>
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/entre/en3.png" />
        <div class="descrption-article-text">
            <p>*All currency units are in RMB</p>
        </div>
        <div class="descrption-article-text">
            <p>We can produce 70kg worth of pure freeze-dried, microencapsulated bacteria with packaging ready to sell. This cost was evaluated based on production via an OEM, not with our own equipment. Although this may reduce our preliminary costs, it does not benefit us in our future development when we expand our business and require a self-owned production lab for efficient R&D. Therefore, as we progress, we plan to invest in manufacturing equipment. All production should be complete in 2-3 months, according to Mr. Liu, and we should be able to find a retailer/brand that is willing to rebrand/sell our product. After the 1st quarter, we should have some cash flow. </p>
        </div>
        <div class="article-desc-sub-sub-title" id="c12">2023 2nd quarter to 2027 1st quarter: </div>
        

        <div class="article-desc-sub-sub-sub-title" id="d1">Financial prospect:</div>
        <div class="descrption-article-text">
            <p>During this stage, according to Mr. Liu, the revenue is starting to increase. We reinvest the revenue into production and gain some money. We establish an R&D department, and preliminarily invest in developing similar new products, such as cholesterol-lowering probiotics. At this stage, we plan to start using the R&D business model and slowly shift our business strategy and enforce the importance of R&D in our business.</p>
        </div>
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/entre/en4.png" />
        <div class="descrption-article-text">
            <p>The income through providing R&D for companies, starts with a large expenditure on equipment, as it requires significant investment to gain an advantage. Therefore the revenue through supplying our initial product would have to be reinvested into R&D. R&D is the foundation of a company’s competitive advantage. We estimate that the R&D department can start earning money during 2027,the second quarter. </p>
        </div>
        <div class="article-desc-sub-sub-sub-title" id="d2">Funding:</div>
        <div class="descrption-article-text">
            <p>Funding at this stage will be relatively easy, as the company has started to show market value and its ability to earn money. </p>
        </div>
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/entre/en5.png" />
        <div class="descrption-article-text">
            <p>Funding can come through multiple sources, such as loans and stock dilution.</p>
        </div>
        <div class="article-desc-sub-sub-sub-title" id="d3">General Financial prospect: </div>
        <div class="descrption-article-text">
            <p>Income is separated into 2 sections, Supply and R&D. R&D is the income via the Research business model mentioned above. Supply are all other incomes, mainly from selling and marketing our developed supplementary products.</p>
        </div>
        <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vRRdLbZGP3nDVHjWKABtYk_5OVeoSVEccideQdqcJae7QDxfXxNZ1Pg9IHzfcPL1GAF6wcqiYhIXK0C/pubchart?oid=884015449&format=interactive">https://docs.google.com/spreadsheets/d/e/2PACX-1vRRdLbZGP3nDVHjWKABtYk_5OVeoSVEccideQdqcJae7QDxfXxNZ1Pg9IHzfcPL1GAF6wcqiYhIXK0C/pubchart?oid=884015449&format=interactive</a>
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/entre/en6.png" />
        <div class="descrption-article-text">
            <p>Detailed version:</p>
        </div>
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/entre/en7.png" />
        <div class="article-desc-sub-title" id="b8">Marketing</div>
        <div class="article-desc-sub-sub-title" id="c13">General marketing strategy: </div>
        <div class="descrption-article-text">
            <p>We emphasize our products' efficacy - we are significantly better than other supplements and provide some clinical evidence and statistics to prove that. (this was one of the main factors regarding the purchase of supplements during the market research survey to 92 uric acid patients. )</p>
        </div>
        <div class="descrption-article-text">
            <p>We emphasize safety - the Chinese administration approves our product.</p>
        </div>
        <div class="descrption-article-text">
            <p>We emphasize previous results - Our product is similar to Lanzhou Universities' previous research result (LZU managed to extract a uric acid-lowering bacteria, and it was viral on the Chinese internet platform WeiBo), meaning that we can build on top of that to create more social awareness (cite their work). </p>
        </div>
        <div class="article-desc-sub-sub-title" id="c14">Online Marketing: </div>
        <div class="descrption-article-text">
            <p>Firstly, we thought of the best ways to market our product in china. Of these, we decided to reach out to our customers through Platforms such as WeChat and Douyin (Chinese version of TikTok) and buying search results on online shopping platforms such as TaoBao and JD. </p>
        </div>
        <div class="descrption-article-text">
            <p><strong>WeChat: </strong></p>
            <p>We plan to contact prominent content creators on the WeChat public accounts platform, which is a platform where creators release content to Wechat users. Creators such as Dr. Ding Xiang that specialize in the public education of medical science can have an already built base audience, which allows more customer contact and promotion. We could either directly pay the creators or give them a portion of our sales revenue.</p>
        </div>
        
        <div class="descrption-article-text">
            <p><strong>DouYin: </strong></p>
            <p>We wanted to find creators on Douyin that specialize in reviews of supplements, such as creator doctors, etc. They would do a content review, and explain how our product works to their followers. We can also buy ads on douyin that enables the audience to see ads while swiping through videos. We could either directly pay the creators or give them a portion of our sales revenue.</p>
        </div>
        <div class="descrption-article-text">
            <p><strong>Online shopping: </strong></p>
            <p>Another way to market is to advertise by buying search results on online shopping platforms. We can purchase the first few positions when a potential customer searches for uric acid-lowering supplements, enabling us to reach a wider range of customers. Although they might ignore us, this method can significantly increase the number of people that click on our page and learn about our product at our business early stage.</p>
        </div>
        <div class="article-desc-sub-sub-title" id="c15">Physical marketing:</div>
        <div class="descrption-article-text">
            <p><strong>Drug stores:</strong></p>
            <p>We plan to cooperate with drug stores such as Nepstar (a large chain of drug stores all across china). We exhibit our supplements physically on their shelves, and we can access elderly who prefer traditional storefront purchases. Elders who happen to have hyperuricemia may tryout our product, and after the efficacy convinces them of our product, would be more likely to repurchase.</p>
        </div>
        <div class="descrption-article-text">
            <p><strong>Beauty Stores:</strong></p>
            <p>There are many beauty stores across the major cities in china, which mainly provide skin care to ladies. If we market our product there, we might be able to attract ladies who have a hyperuricemic husbands, who will buy our product for their husbands to try.</p>
        </div>
        <div class="descrption-article-text">
            <p><strong>Customer Face-to-Face:</strong></p>
            <p>We observed from our daily lives that in the culture of drinking , or wine drinking culture of china, people drink alcohol - mostly up to 53% alcohol, which is a high purine drink. Thus, various people, especially men, have developed hyperuricemia and gout. [1] Through our observation, when people drink alcohol, they encourage people who don't want to drink (mostly due to their fear of hyperuricemia) to drink. To do this, they would recommend a medicine that treats hyperuricemia.</p>
        </div>
        <div class="descrption-article-text">
            <p>We want to grasp this opportunity, and we thought we could invent a link on WeChat that enables them to gift our products easily. When person A wants to share our product them person B, who doesn't want to drink due to hyperuricemia, person A can send a link to person B via WeChat. Person B can easily click the link and fill in their address. Then, we, the business, can directly ship the product to Person B’s filled address. Shipping commonly only takes 1-2 days in china, thanks to the developed, efficient express delivery system.</p>
        </div>
        <div class="descrption-article-text">
            <p> This lowers the bar to sharing, and doesn't require people to carry our product all the time to share with their friends. </p>
        </div>
        <div class="article-desc-sub-title" id="b9">Channelling</div>
        <div class="article-desc-sub-sub-title" id="c16">Traditional channeling: </div>
        <div class="descrption-article-text">
            <p>This is the traditional way of sending our products to our customers. We give a share of our profit to our retailers, and they send it to shops or other online stores to sell them. </p>
        </div>
        <div class="article-desc-sub-sub-title" id="c17">Customer sales: </div>
        <div class="descrption-article-text">
            <p>With inspiration from one of our competitors listed above, PM International, we could borrow their channeling and sales model. Our new sales and business model discarded the classical channeling method by going through shops and pharmacies. It uses direct customer contact, also known as multi-level marketing. In multi-level marketing, the compensation plan usually pays out to participants from two potential revenue streams. The first is based on a sales commission from directly selling the product or service; the second is paid out from commissions based upon the wholesale purchases made by other sellers the participant has recruited to sell the the product. A customer can introduce our product to another friend or family member of him/her. With the prebuilt trust between the customer and friend and our excellent product, We can spread between groups of friends and families quickly. </p>
        </div>
        <div class="article-desc-sub-title" id="b10">Customer connection</div>
        <div class="article-desc-sub-sub-title" id="c18">Loyalty programs:</div>
        <div class="descrption-article-text">
            <p>We can introduce membership programs into our business that give discounts to members that pay a membership fee. They can buy our products at discounted prices and gain points for each purchase, which can then be transferred into other products.</p>
        </div>
        <div class="descrption-article-text">
            <p>We can also offer personal customizations progras where the customer comes to us, and we personally design a nutrition and supplement course for each and evey single one of them, after we setup our R&D department and we develop more supplementary products. </p>
        </div>
        <div class="article-desc-sub-title" id="b11">Risk management</div>
        <ol>
           <li>
                <p>Ethical, legal, and social concerns about genetically modified organisms and genetically modified materials and their resulting products could limit or prevent the use of products or processes using our technologies, limit public acceptance of  such products or processes and limit our revenues. </p>
                <br />
                <p>The issue can not be addressed in a fast way. This requires slow, incremental progress of showcasing the potential of synthetic biology, and must not show any downside to this technology. We could try to introduce a industry standard to the safety of synthetic products. Our other business model, The direct sales model, can also help overcome this issues, by utilizing the mutual trust between customers. </p>
                <br />
           </li>
           <li>
                <p>Risks relating to trade secrets and other proprietary information and biomaterials.</p>
                <br />
                <p>This requires a robust secret management structure in the company. We strictly limit access of different people to different files, and keep a classified system within the company. We can also hire a advanced legal team to protect our public patent rights. </p>
                <br />
           </li>  
        </ol>
        <div class="article-desc-sub-title" id="b12">SWOT</div>
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/entre/en8.jpg" />
        <div class="article-desc-sub-title" id="b13">Future plans</div>
        <div class="descrption-article-text">
            <p>We plan to make a partnered product with the project with LZU-HS-Pro-B, as their project is about Uric acid detection. We could sell their product combined. </p>
        </div>



    </div>


    <!-- 底部 -->
    {% include 'footer.html' %}

</body>

</html>