<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Human Practices | Sesame_Shenzhen - iGEM 2022</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='description.css') }}" />
    {% include 'link.html' %}

</head>

<body>
    <!-- 顶部导航栏 -->
    {% include 'menu.html' %}

    <!-- 封图 -->
    <img class="cover-img" src="https://static.igem.wiki/teams/4299/wiki/covers/hp.jpg">

    <!-- 侧边栏 -->
    <div id="description-article-sidebar" class="">
        <div class="article-sidebar-a sidebar-contents">CONTENTS</div>
        <!-- <hr class="layui-border-cyan" style="margin-bottom: 10px;"> -->

        <a class="article-sidebar-a" href="#a1">Overview:</a>
        <a class="article-sidebar-a" href="#a2">Identify the issue:</a>
        <a class="article-sidebar-a sidebar-b" href="#b1">I. Interview with a hyperuricemia patient</a>
        <a class="article-sidebar-a sidebar-b" href="#b2">II. Survey:</a>
        <a class="article-sidebar-a" href="#a3">Seeking for a solution | 1st generation design:  </a>
        <a class="article-sidebar-a sidebar-b" href="#b3">I. Conference with Xbiome </a>
        <a class="article-sidebar-a" href="#a4">Social feedback | 2nd generation design:  </a>
        <a class="article-sidebar-a sidebar-b" href="#b4">I. CCIC: </a>
        <a class="article-sidebar-a sidebar-b" href="#b5">II. LZU-HS-Pro-B safety conference: </a>
        <a class="article-sidebar-a" href="#a5">Close the loop   </a>
        <a class="article-sidebar-a sidebar-b" href="#b6">I. Interview with doctors: </a>
        <a class="article-sidebar-a sidebar-b" href="#b7">II. Interview with Professor Liu QinRong: </a>
        <a class="article-sidebar-a sidebar-b" href="#b8">III. lecture with Dr 司书锋 Si Shu Feng </a>
        <a class="article-sidebar-a" href="#a6">Conclusion  </a>

        <!-- <div class="article-desc-title" id="a1"></div>
        <div class="article-desc-sub-title" id="b1"></div> -->


    </div>

    <!-- 内容 -->
    <div class="content-div">
        <div class="article-top-line">
            <hr class="layui-border-cyan">
        </div>
            

        <div class="article-desc-title" id="a1">Overview:</div>
        <div class="descrption-article-text">
            <p>Sesame_Shenzhen Wanted to seek a solution for Hyperuricemia and gout using non-invasive methods. So what was the best way for us to find a solution for this? How does our method compare with the traditional treatment methods? How do stakeholders perceive our solution? These are all questions that are needed to be answered through human practices.</p>
            <p>We address 2 values throughout our HP process: 1) safety concern and 2) social obligation in commercialization </p>
        </div>
        <div class="article-desc-title" id="a2">Identify the issue:</div>

        <div class="article-desc-sub-title" id="b1">I. Interview with a hyperuricemia patient</div>
        <p>Firstly, what are the problems that current drugs and supplements have? We interviewed a person suffering from hyperuricemia and gout. He disclosed some disadvantages of current treatment methods: Supplements take too long to relieve the pain from gout crystals, and drugs have certain unwanted side effects. This patient specifically suffered from a 2-day nausea, and had to excuse himself from work. The high prevalence of drug side effects and the inefficacy of supplements led us to a desire to seek a treatment method that is effective and has no side effects.</p>

        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/hp/ihp1.png" />
        <div class="article-desc-sub-title" id="b2">II. Survey:</div>
        
        <div class="descrption-article-text">
            <p>After Interviewing the patient, we wanted to confirm the accuracy and the prevalence of the dissatisfaction with drugs. We conducted a survey, collecting data from 92 respondents, in association with LZU-HS-Pro-B</p>
            <p>42% of them responded with a drug efficacy time of 1-2 weeks. However, they were dissatisfied with the side effects that brought them there, responding with an average of 4.3 stars out of 5 stars of satisfaction, mainly due to the side effects.</p>
            <p>65% of people reported an ineffective treatment for supplementary products to treat hyperuricemia. Out of the other 35% that reported effectiveness, it took around 6 months for the supplementary product to take effect. The rating of the supplements had dropped significantly compared to drugs, with 2.3 stars out of 5 stars, mainly due to their inefficacy and long time period for a treatment effect.</p>
            <p>Therefore, it is known that we have a set of know problems regarding treatments for hyperuricemia: The side effects of drugs, and the inefficacy of supplements.</p>
        </div>
        <div class="article-desc-title" id="a3">Seeking for a solution | 1st generation design:</div>
        <div class="article-desc-sub-title" id="b3">I. Conference with Xbiome</div>
        <div class="descrption-article-text">
            <p>To find a solution, we attended an online conference hosted by the CTO of a biotech pioneer in Shenzhen, 未知君 (Xbiome). This is a company dedicated to researching the gut microbiome.</p>
        </div>
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/hp/ihp2.jpg" />
        <div class="descrption-article-text">
            <p>They dedicate their efforts to Fecal transplants and extracting possible beneficial chemicals for treatment in the gut for therapy. The CTO of Xbiome, Huang JinQun, gave us an inspiring talk on the gut microbiome and explained what they did for research.</p>
            <p>This talk gave us the inspiration to take advantage of the gut and intestine as a platform for treatment. During the conference, we proposed the idea of treating hyperuricemia through the gut. Mr. Huang suggested that we could tackle the problem by inserting various enzymes in a probiotic. But Mr. Huang also pointed out that accepting genetically modified treatments and supplements wouldn’t be widely accepted by society. He also said that if we wanted a long-term treatment, it is nectary to establish a sustainable colony of bacteria inside the patient's gut, which is very difficult. But we thought that the difficulty of establishing a colony in the gut might be beneficial for us, as we don't want potentially hazardous engineered bacteria residing in the gut for a long time.</p>
            <p>Thus, we dug deeper into the topic of enzymatic treatment through probiotics and came up with the 1st generation of our bacteria (more details about the first generation can be found at the engineering success page)</p>
        </div>
        <div class="article-desc-title" id="a4">Social feedback | 2nd generation design:</div>
        <div class="article-desc-sub-title" id="b4">CCIC:</div>

        <div class="descrption-article-text">
            <p>We attended the conference of china iGEMer’s community (CCIC), and we communicated with judges and other teams. During this conference, after presenting our initial 1st generation project, the judges pointed out that we had not considered the possible risk of GM contamination. When our bacteria is excreted out from the body, the genetic material may pass from our bacteria to the genomes of other bacteria, which can cause pollution of genetic material. The judges suggested installing a suicide system of some sort, which kills the bacteria once it leaves the body.</p>
        </div>
        <div class="article-desc-sub-title" id="b5">LZU-HS-Pro-B safety conference:</div>

        <div class="descrption-article-text">
            
            <p>We aquatinted with another High school iGEM Team, LZU-HS-pro-B, during the CCIC. Their project was very similar to ours give. They worked on uric acid concentration detection using fluorescent proteins. They gave us the idea of using uric acid detection to activate the suicide system. They introduced us to the Biobricks that they used, HucR and HucO. We developed the second generation of our genetic circuit and included a suicide system based on the promoter they introduced. (more details about the second generation can be found at<a href="We aquatinted with another High school iGEM Team, LZU-HS-pro-B, during the CCIC. Their project was very similar to ours give. They worked on uric acid concentration detection using fluorescent proteins. They gave us the idea of using uric acid detection to activate the suicide system. They introduced us to the Biobricks that they used, HucR and HucO. We developed the second generation of our genetic circuit and included a suicide system based on the promoter they introduced. (more details about the second generation can be found at https://2022.igem.wiki/sesame-shenzhen/engineering)"> https://2022.igem.wiki/sesame-shenzhen/engineering</a>)</p>
            <p>They have also affected our project in many other ways. Please see the partnership page for more details. </p>
        </div>
        <img  class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/hp/ihp3.jpg" />
        <div class="article-desc-title" id="a5">Close the loop </div>
        <div class="descrption-article-text">
            <p>We formed a closed loop by demonstrating our finial version of design to authorities, gathering advices and explore possibilities for future prospect. </p>
        </div>
        <div class="article-desc-sub-title" id="b6">I. Interview with doctors:</div>
        <div class="descrption-article-text">
            <p>We interviewed two doctors, 潘志远, Pan Zhi Yuan, who specializes in research medicine and tumor treatment, and 鞠敏, Ju Min, who is a doctor of Chinese medicine. </p>
        </div>
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/hp/ihp4.jpg" />
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/hp/ihp5.jpg" />
        <div class="descrption-article-text">
            <p>After we had developed the second generation of our bacteria, we inquired him about various aspects of our project to ask for his approval before entering the actual experimentation. He carefully reviewed our project, and was in general approval of our project, although he did raise some concerns about our future implementation. He repeatedly stressed the importance of safety testing and ensuring that minimal harm is brought about to humans. Therefore, we have carefully studied the laws and regulations of China. (See the entrepreneurship page - value proposition for more details)</p>
            <p>One question was about the transportation method of our bacteria into the gut. He stated that when transported from the anus, because the distance to the gut is shorter, and the bacteria do not pass through the stomach, which kills most of the bacteria, so the survival rate of the bacteria would be greater. In comparison, when we use the oral intake method, the patient's medication and treatment experience would be much better, as it is very mentally and physically uncomfortable to have the bacteria delivered via the anus. Delivering via the anus would also require the patient to come to a treatment center for delivery, reducing the accessibility of our technology. In contrast, oral can be taken anywhere without pain. However, orally delivered bacteria would lack in bacteria survival rate.</p>
            <p>To find out the true preference of the target user, we conducted a mass survey. The result concluded that 95% of end users preferred oral intake despite the price increase and lower survival rate.</p>
        </div>
        <div class="article-desc-sub-title" id="b7">II. Interview with Professor Liu QinRong:</div>
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/hp/ihp6.jpg" />
        <div class="descrption-article-text">
            <p>To find details about the production of probiotics, we interviewed an expert in Probiotics manufacturing, Mr. Liu Jinrong from Lanzhou University. He has manufactured and produced consumer probiotics that are also capable of lowering Uric acid in the intestine. We inquired about several business strategies and production methods, and costs. (details can be found on the entrepreneurship page, Timeline, 2023 1st quarter). <br /><a href="https://2022.igem.wiki/example/entrepreneurship">https://2022.igem.wiki/example/entrepreneurship</a> . We also interviewed Professor LiuQinRong about the different production methods, oral transportation, and final release of the probiotic using microencapsulation technology. (more details at the proposed implementation page)</p>
        </div>
        <div class="article-desc-sub-title" id="b8">III. lecture with Dr 司书锋 Si Shu Feng</div>
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/hp/ihp7.jpg" />
        <div class="descrption-article-text">
            <p>Dr Si is the head of 嘉亿 (Jia Yi) microbiome research institute. He and his colleagues specialize in researching microbiome balance and interference and extracting useful bacteria and application in the gut. They taught us about the application of population control mechanisms, which we plan to incorporate into our project in the future. </p>
        </div>
        <div class="article-desc-title" id="a1">Conclusion</div>
        <div class="descrption-article-text">
            <p>To summarize, we conducted a sufficient amount of activities to make sure voices from the society are heard and responded properly as our product develops. </p>    
        </div>


    </div>


    <!-- 底部 -->
    {% include 'footer.html' %}

</body>
