<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proposed Implementation | Sesame_Shenzhen - iGEM 2022</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='description.css') }}" />
    {% include 'link.html' %}

</head>

<body>
    <!-- 顶部导航栏 -->
    {% include 'menu.html' %}

    <!-- 封图 -->
    <img class="cover-img" src="https://static.igem.wiki/teams/4299/wiki/covers/impl.jpg">

    <!-- 侧边栏 -->
    <div id="description-article-sidebar" class="">
        <div class="article-sidebar-a sidebar-contents">CONTENTS</div>
        <!-- <hr class="layui-border-cyan" style="margin-bottom: 10px;"> -->

        <a class="article-sidebar-a" href="#a0">Proposed implementation: </a>
        <a class="article-sidebar-a sidebar-b" href="#b1">Intake method:</a>
        <a class="article-sidebar-a sidebar-b" href="#b2">Production of our product:</a>
        <a class="article-sidebar-a" href="#a0">How to eat it:</a>
        <a class="article-sidebar-a sidebar-b" href="#b1">Challenges:</a>
        <a class="article-sidebar-a sidebar-b" href="#b2">Safety:</a>




    </div>

    <!-- 内容 -->
    <div class="content-div">
        <div class="article-top-line">
            <hr class="layui-border-cyan">
        </div>

        <!-- <div class="article-desc-title" id="a"></div>
        <div class="article-desc-sub-title" id="b"></div>
        <div class="descrption-article-text">
            <p></p>
        </div>
        <img class="descrption-article-img" src="">
        <div class="article-img-description">
            
        </div> -->

        <div class="article-desc-title" id="a1">Proposed implementation: </div>
        <div class="descrption-article-text">
            <p>Our project is designed to target people who suffer from high uric acid levels, which have the risk to develop into gout, an acute joint pain caused by the deposition of uric acid. Our engineered bacteria can decompose uric acid into a form that the body can metabolise more efficiently, reducing the blood uric acid levels and decreasing the risk for Gout. Our design works significantly better than similar bacteria-based supplements also aimed to lower uric acid levels.</p>
        </div>
        <div class="article-desc-sub-title" id="b1">Intake method:</div>
        <div class="descrption-article-text">
            <p>To transport the engineered bacteria into the gut, we came up with 2 methods, the mouth, and the Anus. We inquired a doctor, Dr. Pan Zhi yuan, and he came up with the the advatages of both intake methods. (Process, surveys and details can be found at the IHP page, interview with Doctor Pan Zhi Yuan) In the end, we decided to use the oral intake form. </p>
        </div>
        <div class="descrption-article-text">
            <p>To transport the engineered bacteria into the gut, we came up with 2 methods, the mouth, and the Anus. We inquired a doctor, Dr. Pan Zhi yuan, and he came up with the the advatages of both intake methods. (Process, surveys and details can be found at the IHP page, interview with Doctor Pan Zhi Yuan) In the end, we decided to use the oral intake form. </p>
        </div>
        <div class="descrption-article-text">
            <p>So we conducted research on tablet formation but realized that it only has a 10% survival rate due to the high pressure and heat during the tablet formation. Therefore, we abandoned this transport medium and chose to produce our product in packaged powder form. This is because in powdered form, not only the cost would be cheaper, but also powdered form can be infused into many liquids, including milk, water, and yogurt. this gives the consumers more freedom in consuming producst as such. </p>
        </div>
        <div class="article-desc-sub-title" id="b2">Production of our product:</div>
        <div class="descrption-article-text">
            <p>We interviewed Professor LiuQinRong, who is an expert in the field of bacterial mass production and commercialization, and has commercialized his own independent probiotics brand. We asked him about the details of out productions. More details can be found at the entrepreneurship page. </p>
        </div>
        <div class="descrption-article-text">
            <p>According to Mr Liu, in order to successfully commercialise the product, we must go through a series of tests, clinical trials and patent protection. Afterwhich, we will mass produce our bacteria through liquid fermentation, with a special growth medium containing uric acid, which would inhibit the suicide system of our bacteria. After centrifuging and extracting the growth medium containing the bacteria, we can freeze dry the bacteria. Afterwhich, we will use the microencapsulation technology to encapsulate the bacteria particles, and prevent stomach acid from sterilising the bacteria. The freeze-dry technology can put the bacteria into a dormant state, and can be rejuvenated upon contact with water. The final product would be in powder form, which users can infuse in water or yoghurt or any preferable fluid that is not too hot.</p>
            <p>Thanks to the freeze-dry technology, our product can ensure a long-lasting quality while ensuring high bacterial survival rate.</p>
        </div>
        <div class="descrption-article-text">
            <p>All the packaging will be in packets of 2 grams, in powder form. </p>
            <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/impl/add1.png">
            
        </div>
        <div class="article-desc-title" id="a2">How to eat it:</div>
        <div class="descrption-article-text">
            <p>After the probiotic surviving the stomach, the microcapsule will spontaneously disassociate and release our bacteria into the gut. It is advised that our product is not taken along with antibiotics by the doctor, and is advised not to be taken with hot water. they should be taken ideally 30 minutes before meal, and should take at least 1 packet (2 grams) per day. </p>
        </div>
        <div class="article-desc-sub-title" id="b3">Challenges:</div>
        <div class="descrption-article-text">
            <p>A concern for implementing our product may be making the government approve our product. The nature of our project is really controversial, as it involves genetic engineering, which can not only bring a safety risk to our bacteria but also bring about enormous amounts of social controversy. GMO foods already bring social rejection. Our project, which is a step further with consuming living GMOs, would no doubt bring even more rejection. Therefore, we must ensure our product has been through rigorous testing and installed safety measures and ensure society’s acceptance before we can commercialize the product.</p>
        </div>
        <div class="article-desc-sub-title" id="b4">Safety:</div>
        <div class="descrption-article-text">
            <p>Safety precautions for engineered bacteria are essential, especially when it's inside the human body. Unprecedented allergies, environmental issues, and possible causes for diseases and autoimmune issues can have serious consequences when not handled correctly. To minimize the environmental threat, we designed a suicide system that would activate when there is no uric acid around the bacteria. Our E.coli would kill itself when it leaves the human body as no uric acid is present.</p>
        </div>



    </div>


    <!-- 底部 -->
    {% include 'footer.html' %}

</body>

</html>