<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Sesame_Shenzhen - iGEM 2022</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='description.css') }}" />
    {% include 'link.html' %}
    
</head>

<style>
   
</style>

<body>
    <!-- 顶部导航栏 -->
    {% include 'menu.html' %}
 
    <!-- 封图 -->
    <img class="cover-img" src="https://static.igem.wiki/teams/4299/wiki/covers/home1.jpg">


    <div class="content-div">
        <div class="article-top-line">
            <hr class="layui-border-cyan">
        </div>
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/desc/img5.jpg">     

        <p>In recent years, hyperuricemia in China has shown a significant increase and a younger trend. Complications that hyperuricemia and ventilation are highly likely to cause include hypertension, fatty liver, chronic kidney disease, and cardiovascular diseases.</p>
        <br />
        <p>Our plan is to introduce the gene sequence encoding uric acid oxidase into E. coli and to introduce these microorganisms into some food products such as yogurt or probiotic lyophilized powder. When a patient takes these drinks, a portion of the E. coli in the drink will reside in the patient's intestine, and the strain will secrete uric acid oxidase and other cofactors. In this way, it can respond to uric acid concentrations over a long period of time. It decomposes the uric acid in the intestine, thus reducing the uric acid value in the body.</p>
        <br />
        
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/home/img2.jpg">     
        <br />
        
        <p><strong>Sesame_Shenzhen</strong> consists of a total of 14 outstanding high school students from various schools. We have a strong interest in synthetic biology, and everyone on the team is an individual who can excel in various fields. We have a even distribution of tasks and complementary specialties, each with its own strengths.</p>
        <br />
        
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/home/img3.jpg">     
        <br />
        <p>Our <strong>wet team</strong> is mainly responsible for participating in lab work, organizing experimental data, reading relevant literature, writing papers, and participating in collaborative exchanges in the experimental part. </p>
        <br />
        <p>Our <strong>dry team</strong> is in charge of artwork design, PPT production, as well as a project-related human practice, education, questionnaire survey, creating mathematical modeling, and running social media of the team. </p>
        <br />
        <br />
        <br />
        <br />
        <iframe style="margin: 0 auto;" title="Sesame_Shenzhen: Uric acid lowering probiotic (2022) - Project Promotion [English]" width="784" height="441" src="https://video.igem.org/videos/embed/97d42ec4-e8ca-49d8-a753-7c7e668a2baa" frameborder="0" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups"></iframe>
        <br />
        <br />
        <br />
        <br />
    </div>




    <!-- <div class="index-cover-box">
        <img class="index-cover-gif" src="https://static.igem.wiki/teams/4299/wiki/home/75-share-lineal.gif" />
        
        <div class="index-cover-title">HOME</div>
    </div> -->

    <!-- 内容 -->
    <!-- <div data-aos="fade-up" class="index-content-box">
        
        <div class="index-content-text-box">
            <div class="index-content-text-title">Sub TITLE</div>
            <div class="index-content-text-content">
                <p>In recent years, hyperuricemia in China has shown a significant increase and a younger trend. Complications that hyperuricemia and ventilation are highly likely to cause include hypertension, fatty liver, chronic kidney disease, and cardiovascular diseases.</p>
            </div>
        </div>
        <img class="index-content-gif" src="https://static.igem.wiki/teams/4299/wiki/home/75-share-lineal.gif" />

    </div>

    <div data-aos="fade-up" class="index-content-box">
        
       
        <img class="index-content-gif" src="https://static.igem.wiki/teams/4299/wiki/home/75-share-lineal.gif" />
        <div class="index-content-text-box">
            <div class="index-content-text-title">Sub TITLE</div>
            <div class="index-content-text-content">
                losses and serious disasters to all mankind. The novel coronavirus pandemic could
                cost the global economy <b>82 trillion</b> in five years in a "recession" scenario,
                according to the Risk Research Center at Cambridge Judges Business School.<b> More
                than 230 million</b> people have been infected with COVID-19 and <b>more than 4
                million</b> have died from it so far.
            </div>
        </div>
    </div>

    <div data-aos="fade-up" class="index-content-box">
        
        <div class="index-content-text-box">
            <div class="index-content-text-title">Sub TITLE</div>
            <div class="index-content-text-content">
                losses and serious disasters to all mankind. The novel coronavirus pandemic could
                cost the global economy <b>82 trillion</b> in five years in a "recession" scenario,
                according to the Risk Research Center at Cambridge Judges Business School.<b> More
                than 230 million</b> people have been infected with COVID-19 and <b>more than 4
                million</b> have died from it so far.
            </div>
        </div>
        <img class="index-content-gif" src="https://static.igem.wiki/teams/4299/wiki/home/75-share-lineal.gif" />

    </div>

    <div data-aos="fade-up" class="index-content-box">
        
       
        <img class="index-content-gif" src="https://static.igem.wiki/teams/4299/wiki/home/75-share-lineal.gif" />
        <div class="index-content-text-box">
            <div class="index-content-text-title">Sub TITLE</div>
            <div class="index-content-text-content">
                losses and serious disasters to all mankind. The novel coronavirus pandemic could
                cost the global economy <b>82 trillion</b> in five years in a "recession" scenario,
                according to the Risk Research Center at Cambridge Judges Business School.<b> More
                than 230 million</b> people have been infected with COVID-19 and <b>more than 4
                million</b> have died from it so far.
            </div>
        </div>
    </div> -->




    <!-- 内容 -->
    <!-- <div class="content-div">
        <div class="content-part-one">
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                <legend style="font-size: 22px;">PART ONE

                    <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
                    <lord-icon src="https://cdn.lordicon.com/whvrlbbr.json" trigger="hover"
                        style="width:50px;height:50px">
                    </lord-icon>
                </legend>
            </fieldset>

            <div class="layui-bg-gray" style="padding: 30px;">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md6">
                        <div class="layui-card">
                            <div class="layui-card-header">Point One</div>
                            <div class="layui-card-body">
                                <div class="abstracts-point" style="font-size: 17px;">
                                    &nbsp;&nbsp;&nbsp;&nbsp;Since the end of 2019, the novel coronavirus pandemic has
                                    brought huge economic
                                    losses and serious disasters to all mankind. The novel coronavirus pandemic could
                                    cost the global economy <b>82 trillion</b> in five years in a "recession" scenario,
                                    according to the Risk Research Center at Cambridge Judges Business School.<b> More
                                        than 230 million</b> people have been infected with COVID-19 and <b>more than 4
                                        million</b> have died from it so far.
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="layui-card">
                            <div class="layui-card-header">Point Two</div>
                            <div class="layui-card-body">
                                <div class="abstracts-point" style="font-size: 17px;">
                                    &nbsp;&nbsp;&nbsp;&nbsp;There are also studies here showing that multiple SARS-CoV-2
                                    strains with different
                                    genome sequences are spreading and evolving. The existing vaccines have inevitable
                                    lag. This also further indicates that conventional coping styles inevitably have
                                    certain defects in the face of virus invasion. Then finding a preventive strategy
                                    against the virus becomes crucial......
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md6">
                        <div class="layui-card">
                            <div class="layui-card-header">Point Three</div>
                            <div class="layui-card-body">
                                <div class="abstracts ab_main" style="font-size: 17px;">
                                    &nbsp;&nbsp;&nbsp;&nbsp;Severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2)
                                    is a human coronavirus
                                    pneumonia (COVID-19)[1]. The spike protein on the surface of the novel coronavirus
                                    binds to the human cell surface receptor, angiotensin converting enzyme II (ACE2),
                                    and enters the cells through endocytosis [2-4]. The virus dehulls after entering the
                                    cytoplasm and releases the genome. Virus RNA binds to the ribosomes of host cells
                                    and translates into proteins, which are processed and then assembled into viruses.

                                    Severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2) is a human coronavirus
                                    pneumonia (COVID-19)[1]. The spike protein on the surface of the novel coronavirus
                                    binds to the human cell surface receptor, angiotensin converting enzyme II (ACE2),
                                    and enters the cells through endocytosis [2-4]. The virus dehulls after entering the
                                    cytoplasm and releases the genome. Virus RNA binds to the ribosomes of host cells
                                    and translates into proteins, which are processed and then assembled into viruses.

                                    cytoplasm and releases the genome. Virus RNA binds to the ribosome
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="content-part-two">
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                <legend style="font-size: 22px;">PART TWO

                    <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
                    <lord-icon src="https://cdn.lordicon.com/ibalslef.json" trigger="hover"
                        style="width:50px;height:50px">
                    </lord-icon>
                </legend>

            </fieldset>

            <blockquote class="layui-elem-quote" style="margin-left: 50px;font-size: 16px;color: grey;">
                The detailed process is shown in the figure below.
            </blockquote>

            <div class="part-two-img-div">
                <img src="https://static.igem.wiki/teams/4299/wiki/avatar.png">
            </div>
        </div>

        <div class="content-part-three">
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                <legend style="font-size: 22px;">PART THREE

                    <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
                    <lord-icon src="https://cdn.lordicon.com/oegrrprk.json" trigger="hover"
                        style="width:50px;height:50px">
                    </lord-icon>
                </legend>
            </fieldset>

            <ul class="layui-timeline"
                style="background-color: #fff;margin-left: 20px;margin-right: 20px;padding: 30px">
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis"></i>
                    <div class="layui-timeline-content layui-text" style="line-height: 25px;font-size: 16px;">
                        <h3 class="layui-timeline-title" style="font-size: 18px;">First</h3>
                        <p>
                            &nbsp;&nbsp;&nbsp;&nbsp;CRISPR/Cas13d is a RNA-guided CRISPR system targeting ssRNA. The
                            system has been used to
                            target viral sequences in human cells[5,6]. At the same time, compared with other Cas13
                            proteins, Cas13d has the advantages of small size (967 amino acids), high specificity and
                            strong catalytic activity. Its RNA-targeted ribonuclease activity is independent of specific
                            adjacent sequences, which meets the requirements of rapid development of gRNA[7-9].
                            <i class="layui-icon"></i>
                        </p>
                    </div>
                </li>
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis"></i>
                    <div class="layui-timeline-content layui-text" style="line-height: 25px;font-size: 16px;">
                        <h3 class="layui-timeline-title" style="font-size: 18px;">Second</h3>

                        &nbsp;&nbsp;&nbsp;&nbsp;LZU-CHINA intends to screen the crRNA pool for SARS-CoV-2 and its
                        conserved sequence by
                        bioinformatics, construct CRISPR-Cas13d system, and use specific crRNA-mediated Cas13 protein to
                        reduce the coding RNA and protein expression of ACE2, thus developing a preventive antiviral
                        strategy in human cells. At the same time, we will also verify the laboratory effects of
                        CRISPR-Cas13d system through in vitro biochemical experiments and cytological experiments. In
                        order to achieve the purpose of providing preventive protection against SARS-CoV-2.
                    </div>
                </li>
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis"></i>
                    <div class="layui-timeline-content layui-text" style="line-height: 25px;font-size: 16px;">
                        <h3 class="layui-timeline-title" style="font-size: 18px;">Third</h3>
                        &nbsp;&nbsp;&nbsp;&nbsp;On May 25, 2020, the Western Ecological Security Innovation Center of
                        Lanzhou University
                        officially released the Global COVID-19 Pandemic Forecasting System, which plans to update the
                        results every 10 days. Huang Jianping, director, said it was the world's first global pandemic
                        forecasting system to advise on the global COVID-19 pandemic. Previous studies have shown that
                        ambient temperature and atmospheric NO2 content are two important indicators for predicting the
                        development of the novel coronavirus pandemic. They comprehensively considered the impact of key
                        information such as environmental temperature, humidity, population density, pandemic
                        prevention, control measures, and medical conditions on the spread of pandemics, as well as the
                        complex situation of the global spread of pandemics. They respectively modeled more than 180
                        countries, and after repeated tests, finally formed the “global COVID-19 pandemic prediction
                        system ”.
                    </div>
                </li>
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis"></i>
                    <div class="layui-timeline-content layui-text">
                        <div class="layui-timeline-title">End</div>
                    </div>
                </li>
            </ul>
        </div>

    </div> -->

    <!-- 过渡 -->
    <!-- <div class="transition-sentences">
        <div class="sententce">
            So, what should we do for the novel coronavirus pneumonia ?
        </div>

        <div class="sententce">
            LZU-CHINA is determined to contribute to the fight against the novel coronavirus pneumonia.
        </div>

        <div class="sententce">
            Maybe you can click the video below to learn more about us.

            <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
            <lord-icon src="https://cdn.lordicon.com/ytdpzbrl.json" trigger="hover" style="width:50px;height:50px">
            </lord-icon>
        </div>
    </div> -->

    <!-- 视频 -->
    <!-- <div class="video-us-div">
        <video controls="" preload="auto" style="width: 900px;border-radius: 10px"
            poster="https://static.igem.wiki/teams/4299/wiki/bg1.jpeg">
            <source src="https://static.igem.wiki/teams/4299/wiki/bg1.jpeg">
        </video>
    </div> -->

    <!-- 底部 -->
    {% include 'footer.html' %}



    
</body>

</html>