<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model | Sesame_Shenzhen - iGEM 2022</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='description.css') }}" />
    {% include 'link.html' %}

</head>

<body>
    <!-- 顶部导航栏 -->
    {% include 'menu.html' %}

    <!-- 封图 -->
    <img class="cover-img" src="https://static.igem.wiki/teams/4299/wiki/covers/model.jpg">

    <!-- 侧边栏 -->
    <div id="description-article-sidebar" class="">
        <!-- <a class="article-sidebar-a" href="">
            <div class="">
                Part.1
            </div>
        </a>

        <a class="article-sidebar-a" href="">
            <div class="">
                Part.2
            </div>
        </a>

        <a class="article-sidebar-a" href="">
            <div class="">
                Part.3
            </div>
        </a>

        <a class="article-sidebar-a" href="">
            <div class="">
                Part.4
            </div>
        </a>

        <a class="article-sidebar-a" href="">
            <div class="">
                Part.5
            </div>
        </a>

        <a class="article-sidebar-a" href="">
            <div class="">
                Part.6
            </div>
        </a> -->

    </div>

    <!-- 内容 -->
    <div class="content-div" style="display: flex;flex-direction: column;align-items: center">
        <div class="article-top-line">
            <hr class="layui-border-cyan">
        </div>


        <object data="https://static.igem.wiki/teams/4299/wiki/model/model.pdf" type="application/pdf" width="95%" height="700px">
            <embed src="https://static.igem.wiki/teams/4299/wiki/model/model.pdf">
                <p>This browser does not support PDFs. Please download the PDF to view it: <a href="https://static.igem.wiki/teams/4299/wiki/model/model.pdf">Download PDF</a>.</p>
        </object>

    </div>


    <!-- 底部 -->
    {% include 'footer.html' %}

    
</body>

</html>