<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notebook | Sesame_Shenzhen - iGEM 2022</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='description.css') }}" />
    {% include 'link.html' %}

</head>

<body>
    <!-- 顶部导航栏 -->
    {% include 'menu.html' %}

    <!-- 封图 -->
    <img class="cover-img" src="https://static.igem.wiki/teams/4299/wiki/covers/note.jpg">

    <!-- 侧边栏 -->
    <div id="description-article-sidebar" class="">
        <div class="article-sidebar-a sidebar-contents">CONTENTS</div>
        <!-- <hr class="layui-border-cyan" style="margin-bottom: 10px;"> -->

        <a class="article-sidebar-a" href="#a1">I. Preparation </a>
        <a class="article-sidebar-a" href="#a1">II. Plans and procedures</a>
        <a class="article-sidebar-a" href="#a1">III. Experimental Records</a>



    </div>

    <!-- 内容 -->
    <div class="content-div">
        <div class="article-top-line">
            <hr class="layui-border-cyan">
        </div>

        <!-- <div class="article-desc-title" id="a"></div>
        <div class="article-desc-sub-title" id="b"></div>
        <div class="descrption-article-text">
            <p></p>
        </div>
        <img class="descrption-article-img" src="">
        <div class="article-img-description"></div> -->




        <div class="article-desc-title" id="a1">I. Preparation </div>
        <div class="descrption-article-text">
            <p>During the preparation stage we have listed down the materials we will need for the experiment, including extraction kits, enzymes and carriers, apparatus and consumables. All kits we used for the experiemnt are products of TIANGEN company. </p>
        </div>
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/note/lb1.jpg">
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/note/lb2.jpg">
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/note/lb3.jpg">

        <div class="article-desc-title" id="a2">II. Plans and procedures</div>
        <div class="descrption-article-text">
            <p>We planned to finish our laboratory work within 5 weeks, including the time needed for repeating the experiment in case there is an error. We have listed down tasks that are required to be finished for every week and also wrote step-by-step experiment protocols. </p>
        </div>
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/note/lb4.jpg">
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/note/lb5.jpg">
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/note/lb6.jpg">
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/note/lb7.jpg">
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/note/lb8.jpg">

        <div class="article-desc-title" id="a2">III. Experimental Records</div>
        <div class="descrption-article-text">
            <p>The picture below is a brief outline for our experiment. It also includes real photo record taken in the lab and explanation about those photos' significance. </p>
        </div>
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/note/lb9.jpg">


        

    </div>


    <!-- 底部 -->
    {% include 'footer.html' %}

</body>

</html>