<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proof of Concept | Sesame_Shenzhen - iGEM 2022</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='description.css') }}" />
    {% include 'link.html' %}

</head>

<body>
    <!-- 顶部导航栏 -->
    {% include 'menu.html' %}

    <!-- 封图 -->
    <img class="cover-img" src="https://static.igem.wiki/teams/4299/wiki/covers/partner.jpg">

    <!-- 侧边栏 -->
    <div id="description-article-sidebar" class="">
        <div class="article-sidebar-a sidebar-contents">CONTENTS</div>
        <!-- <hr class="layui-border-cyan" style="margin-bottom: 10px;"> -->

        <a class="article-sidebar-a" href="#a1">Overview</a>
        <a class="article-sidebar-a" href="#a2">Planning Stage</a>
        <a class="article-sidebar-a" href="#a3">First Stage</a>
        <a class="article-sidebar-a" href="#a4">Second Stage</a>
        <a class="article-sidebar-a sidebar-b" href="#b1">I. Genetic Circuit</a>
        <a class="article-sidebar-a sidebar-b" href="#b2">II. Discussion about Biosecurity</a>
        <a class="article-sidebar-a" href="#a5">Third Stage</a>
        <a class="article-sidebar-a sidebar-b" href="#b3">I. Puzzle</a>
        <a class="article-sidebar-a sidebar-b" href="#b4">II. Podcast</a>
        <a class="article-sidebar-a" href="#a6">Summary </a>



    </div>

    <!-- 内容 -->
    <div class="content-div">
        <div class="article-top-line">
            <hr class="layui-border-cyan">
        </div>

        
        <div class="article-desc-title" id="a">Overview</div>
        <div class="descrption-article-text">
            <p>Our team, Sesame_Shezhen, partnered up with LZU-HS-Pro-B due to our shared focus on the topic and issue of hyperuricemia. Throughout this partnership, we conducted a series of tasks together, including conducting surveys, brainstorming ideas for the design, learning and improving on the aspect of biosecurity, and carrying out educative activites to foster public engagement through collaboration. In the following section, you will be read about our complete partnership with LZU-HS-Pro-B among different stages, with thorough explanation and pictures as supportive evidences. </p>
        </div>
        <div class="article-desc-title" id="a">Planning Stage</div>
        <div class="descrption-article-text">
            <p>We were briefly introduced to each other's projects ("Probiotics for uric acid lowering therapy" for Sesame_Shenzhen and "non-invasive uric acid detector for  LZU-HS-Pro-B") from our PI and realized that both project shared a common objective: developing a safer and more convenient treatment method with no adverse side effects or disadvantages for patients diagnosed with hyperuricemia. </p>
            <p>Therefore, we quickly contacted each other and arranged our first meet-up on 2022/08/07. In this meeting, we introduced our projects to each other and quickly draft a rough plan for our future partnership work. </p>
        </div>
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/partner/p1.jpeg">
        <div class="article-desc-title" id="a">First Stage</div>
        <div class="descrption-article-text">
            <p>Since both of our projects were targeted towards the same group of people (patients with hyperuricemia), our team shared our database with LZU-HS-Pro-B, which contained useful information regarding consumers' preferences and age categories, and proved crucial to better designing our products. We also look forward to collaborating with each other on a business level, potentially selling our products as a combined treatment method for our future entreneurial endeavor.  </p>
        </div>
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/partner/p2.jpeg">
        <div class="article-desc-title" id="a">Second Stage</div>
        <div class="article-desc-sub-title" id="b">I. Genetic Circuit</div>
        <div class="descrption-article-text">
            <p>In the second stage, our teammates conducted an offline discussion and exchanged advice and feedback for each others' genetic circuit construction. </p>
        </div>
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/partner/p3.jpeg">
        <div class="descrption-article-text">
            <p>Our team pointed out that there exists a biosecurity-related risk, in the case that bacteria would escape and pollute the environment, and advised the other team to incorporate a more logical cycle into their circuit. On the other hand, Team LZU-HS-Pro-B introduced their promoters, HucO and HucR, to help our team complete our sensing system and incorporate a suicide function, as a part of the second generation design.</p>
        </div>
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/partner/p4.jpeg">
        <div class="article-desc-sub-title" id="b">II. Discussion about Biosecurity</div>
        <div class="descrption-article-text">
            <p>As a follow-up to the biosecurity issue we identified together, Team LZU-HS-Pro-B  organized a biosafety conference in which our team participated as one of the attendants. In the conference, our team member Li Ben further discussed the issue of biosafety with Gracy, one of the student leaders of LZU-HS-Pro-B. We also presented the final version of our genetic circuit, which was later modified with their help. </p>
        </div>
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/partner/p5.jpeg">
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/partner/p6.jpeg">
        <div class="article-desc-title" id="a">Third Stage</div>
        <div class="descrption-article-text">
            <p>In the third stage, we further strengthened our partnership by collaborating in the education and public engagement section. This involved generating ideas and taking a portion of each other's work. </p>
        </div>
        <div class="article-desc-sub-title" id="b">I. Puzzle</div>
        <div class="descrption-article-text">
            <p>Team LZU-HS-Pro-B and our team researched online for posters about synthetic biology. Later, we custom-made one of the posters into a jigsaw puzzle, and used it as an educative resource.</p>
        </div>
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/partner/p7.jpeg">
        <div class="article-desc-sub-title" id="b">II. Podcast</div>
        <div class="descrption-article-text">
            <p>Li Ben, one of our team members, took part in the work of recording a podcast initiated by Team LZU-HS-Pro-B. In the podcast, we discussed the issue of hyperuricemia, its formation, and its dangers in a cozy and humorous ambience. This work will also be used for educational purposes. </p>
            <p>Check out our podcast here: </p>
            <video id="videoID" controls style="margin-left: 2em;">
                <source src="{{ url_for('static', filename='partner1.mp4') }}" type="video/mp4">
            </video>
        </div>
        <div class="article-desc-title" id="a">Summary</div>
        <div class="descrption-article-text">
            <p>Due to our shared objective, our team, Sesame_Shezhen, closely partnered up with LZU-HS-Pro-B and worked together on different stages of our project. We had a really pleasant collaboration experience, gained advice and feedback from each other, conducted a number of activities together successfully, and actively learned from one another. </p>
        </div>


    </div>


    <!-- 底部 -->
    {% include 'footer.html' %}

</body>

</html>