<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proof of Concept | Sesame_Shenzhen - iGEM 2022</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='description.css') }}" />
    {% include 'link.html' %}

</head>

<body>
    <!-- 顶部导航栏 -->
    {% include 'menu.html' %}

    <!-- 封图 -->
    <img class="cover-img" src="https://static.igem.wiki/teams/4299/wiki/covers/proof.jpg">

    <!-- 侧边栏 -->
    <div id="description-article-sidebar" class="">
        <div class="article-sidebar-a sidebar-contents">CONTENTS</div>
        <!-- <hr class="layui-border-cyan" style="margin-bottom: 10px;"> -->

        <a class="article-sidebar-a" href="#a0">Overview</a>
        <a class="article-sidebar-a" href="#a1">1.Validating the functionality of our Uric acid sensor</a>
        <a class="article-sidebar-a sidebar-b" href="#b1">1.1 Finding the functional concentration of our Uric acid detector</a>
        <a class="article-sidebar-a sidebar-b" href="#b2">1.2 Finding the expression curve of our promoter</a>
        <a class="article-sidebar-a sidebar-b" href="#b3">1.3 The effect of time on the Promoter</a>
        <a class="article-sidebar-a sidebar-b" href="#b4">1.4 Other Factors Influencing our promoter</a>
        <a class="article-sidebar-a" href="#a2">2. Validating the functionality of Urate Oxidase</a>
        <a class="article-sidebar-a sidebar-b" href="#b5">2.1 validating the catabolic effect of Urate Oxidase</a>
        <a class="article-sidebar-a sidebar-b" href="#b6">2.2 The influence of other environmental factors on the degradation of uric acid</a>
        <a class="article-sidebar-a" href="#a3">3. Determining the collective efficacy of uric acid sensitive oxidation effect. </a>
        <a class="article-sidebar-a" href="#a4">4.Validating the efficacy of our suicide system</a>
        <a class="article-sidebar-a" href="#a5">Conclusion: </a>



    </div>

    <!-- 内容 -->
    <div class="content-div">
        <div class="article-top-line">
            <hr class="layui-border-cyan">
        </div>

        <!-- <div class="article-desc-title" id="a"></div>
        <div class="article-desc-sub-title" id="b"></div>
        <div class="descrption-article-text">
            <p></p>
        </div>
        <img class="descrption-article-img" src="">
        <div class="article-img-description">
            
        </div> -->


        <div class="article-desc-title" id="a0">Overview</div>
        <div class="descrption-article-text">
            <p>The proof of concept stage was separated into 4 sections: validating the functionality of our uric acid sensor promoter, urate oxidase's functionality, the combined effect of the promoter and the oxidase， and the validation of our suicide system</p>
        </div>
        <div class="article-desc-title" id="a1">1.Validating the functionality of our Uric acid sensor</div>
        <div class="article-desc-sub-title" id="b1">1.1 Finding the functional concentration of our Uric acid detector</div>
        <div class="descrption-article-text">
            <p>To ensure that our Uric acid-sensitive promoters, HucR and HucO, can function properly by initiating different protein expression rates, we made bacteria (E.coli BL21)that connected our promoter with a red fluorescent protein. </p>
        </div>
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/proof/poc-1.png">
        <div class="descrption-article-text">
            <p>We grew the engineered in liquid LB growth medium in different samples, each sample containing different concentrations of Uric acid. After growth for 3 hours at 37 degrees, 220 rpm, we observed our results. </p>
        </div>
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/proof/poc-2.png">
        <div class="descrption-article-text">
            <p>The experimental results found that the control group without uric acid had no red fluorescence, and the experimental group with uric acid concentrations of 10^-6 mol/L and 10^-5 mol/L had only a small amount of red fluorescence. When the concentration of uric acid was 10^-4 mol/L, there was obvious fluorescence, and a large amount of red fluorescence was observed at 10^-3 mol/L.</p>
        </div>
        <div class="descrption-article-text">
            <p>Therefore, the optimal inducing concentration of uric acid is 10^-4 to 10^-3 mol/L. That is, 100—1000 μmol/L</p>
        </div>

        <div class="article-desc-sub-title" id="b2">1.2 Finding the expression curve of our promoter</div>
        <div class="descrption-article-text">
            <p>1. Cultivate engineered strains in LB liquid medium and adjust uric acid to different concentrations. N=3</p>
        </div>
        <div class="descrption-article-text">
            <p>2. Incubate for 3 hours at 37°C, 220 rpm.</p>
        </div>
        <div class="descrption-article-text">
            <p>3. Transfer to a 96-well plate</p>
        </div>
        <div class="descrption-article-text">
            <p>4. The microplate reader detects the red fluorescence luminescence value.</p>
        </div>
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/proof/poc-3.png">
        <div class="descrption-article-text">
            <p>The experimental results show that the engineered strain can function at concentrations between 100 to 1000 μmol/L of Uric acid.</p>
        </div>

        <div class="article-desc-sub-title" id="b3">1.3 The effect of time on the Promoter</div>
        <div class="descrption-article-text">
            <p>We sampled the fluorescent level of the RFP at intervals of 3 hours with the engineered strand in different Uric Acid concentrations. </p>
        </div>
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/proof/poc-4.png">
        <div class="descrption-article-text">
            <p>Time course experiments showed that the fluorescence intensity became quite strong within 4 to 6 hours after uric acid induction and stabilized within 10 to 12 hours.</p>
        </div>
        <div class="descrption-article-text">
            <p>Experimental method: </p>
            <p>1. Cultivate engineered strains incubated LB liquid medium, and we adjust uric acid to different concentrations. N=3</p>
            <p>2. The temperature is 37 degrees Celsius, 220 rpm. </p>
            <p>3. Transferred to a 96-well plate</p>
            <p>4. The microplate reader detects the red fluorescence luminescence value.</p>
        </div>


        <div class="article-desc-sub-title" id="b4">1.4 Other Factors Influencing our promoter</div>
        <div class="descrption-article-text">
            <p>We experimented if our promoter could function properly under varying conditions. We concluded that our promoter works in an environment with a pH of 5.0 to 9.0 and a temperature of 25-50 degrees Celsius.</p>
        </div>
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/proof/poc-5.png">
        <div class="descrption-article-text">
            <p>The experimental results show that the optimal pH is around 7 and the optimal temperature is 40 degrees Celsius for the Uric Acid promoter to function properly. It also functions at pH 5.0 to 9.0 and a temperature of 25-50 degrees Celsius. </p>
        </div>
        <div class="descrption-article-text">
            <p>Method:</p>
            <p>1. Cultivate the engineered strain in LB liquid medium, with a uric acid concentration of 1000 μmol/L. N=3</p>
            <p>2. Adjust different temperatures and pH, 220 rpm, and cultivate for different times.</p>
            <p>3. Transfer to a 96-well plate</p>
            <p>4. The microplate reader detects the red fluorescence luminescence value.</p>
        </div>

        <div class="article-desc-title" id="a2">2. Validating the functionality of Urate Oxidase</div>
        <div class="descrption-article-text">
            <p>We constructed E.coli 1917 with only urate oxidase (oxidative system only, no promoter) as the experimental group, and transferred an empty plasmid into another strand as the control group. </p>
        </div>
        <div class="article-desc-sub-title" id="b5">2.1 validating the catabolic effect of Urate Oxidase</div>
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/proof/poc-6.png">
        <div class="descrption-article-text">
            <p>1. Cultivate the engineered strain in LB liquid medium and adjust the uric acid concentration to the corresponding concentration. N=3</p>
            <p>2. incubation condition at 37 degrees Celsius, PH=7, 220 rpm, culturing for 48 hours.</p>
            <p>3. Centrifuge at 3500 rpm for 5 minutes, and extract the supernatant. </p>
            <p>4. use of uric acid detection kit to collect results. </p>
        </div>
       
       

        <div class="article-desc-sub-title" id="b6">2.2 The influence of other environmental factors on the degradation of uric acid</div>
        <div class="descrption-article-text">
            <p>We also experimented with more conditions to test if the system could work properly in different environments to see if it works in an environment with a pH of 5.0 to 9.0 and a temperature of 25-50 degrees Celsius.</p>
        </div>
        <div class="descrption-article-text">
            <p>The initial concentration was 2000 μM/L, the cultivation time was 48 hours, and the oxidation efficacy was determined using the uric acid detection kit. We set the temperature to 37 degrees celsius when determining the effect of pH on our strand, and the pH was 7 when we tried to determine the optimum temperature. </p>
        </div>
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/proof/poc-7.png">
        <div class="descrption-article-text">
            <p>The experimental results show that the optimal pH is around 7 and the optimal temperature is 37 degrees Celsius. It also works at pH 5.0 to 9.0 and temperature of 25-50 degrees Celsius.</p>
        </div>

        <div class="article-desc-title" id="a3">3. Determining the collective efficacy of uric acid sensitive oxidation effect. </div>
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/proof/poc-8.png">
        <div class="descrption-article-text">
            <p>We introduced both systems, the Uric acid promoter and the catabolic enzyme, into E.coli Nissle 1917, and simulated the conditions inside the gut. </p>
        </div>
        <div class="descrption-article-text">
            <p>Conditions were: </p>
            <ul>
                <li>pH of 7</li>
                <li>The temperature of 37 degrees Celsius</li>
                <li>Hypoxia (hypoxic bag used)</li>
                <li>Add bile salts</li>
                <li>Pancreatic juice</li>
                <li>Liquid LB medium</li>
                <li>Adjust the uric acid concentration to 2000 μM/L</li>
            </ol>
        </div>
        
        <div class="descrption-article-text">
            <p>Experimental Process:</p>
            <p>Co-culture the bacteria with the above materials.</p>
            <p>Co-incubate for 48 hours,  incubate at 37°C on a shaker at 180 rpm</p>
            <p>Test for uric acid concentration</p>
        </div>
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/proof/poc-9.png">
        <div class="descrption-article-text">
            <p>The final degradation rate of the control group was about 10%, and the experimental group was about 45%, proving the functionality of our system. </p>
        </div>

        <div class="article-desc-title" id="a4">4.Validating the efficacy of our suicide system</div>
        <div class="descrption-article-text">
            <p>*jnsert genetic diagram*</p>
            <p>method:</p>
            <p>We grew the strain with the suicide system in LB medium containing uric acid, the concentration at 1000 μM/L</p>
        </div>
        <div class="descrption-article-text">
            <p>Here is our genetic diagram for the experimental strain: </p>
        </div>
        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/proof/poc-10.png">
        <div class="descrption-article-text">
            <p> Commercially available urate oxidase was added to the experimental group nine hours into the experiment to degrade uric acid in the medium. Autoclaved  commercial urate oxidase was added to the control group. </p>
        </div>
        <div class="descrption-article-text">
            <p>Conditions were: </p>
            
        </div>
        <ul>
            <li>pH of 7</li>
            <li>Temperature of 37 degrees Celsius</li>
            <li>Liquid LB medium</li>
            <li>Uric acid concentration of 1000 μM/L</li>
        </ul>

        <img class="descrption-article-img" src="https://static.igem.wiki/teams/4299/wiki/proof/poc-11.png">
        <div class="descrption-article-text">
            <p>The number of bacteria in the experimental group decreased from the 12th hour compared with the control group. There was a significant difference from the control group 15 hours into the experiment, which continued to decrease after that.</p>
        </div>
        <div class="descrption-article-text">
            <p>The experimental results show that our suicide system can effectively detect the decrease in uric acid concentration and trigger the suicide system.</p>
        </div>

        <div class="article-desc-title" id="a5">Conclusion: </div>
        <div class="descrption-article-text">
            <p>Based on the experimental data we collected, we believe our system can be functional under the conditions of the intestine. Our suicide system also functions when there is no Uric acid present. </p>
        </div>


    </div>


    <!-- 底部 -->
    {% include 'footer.html' %}

</body>

</html>
