<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team | Sesame_Shenzhen - iGEM 2022</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='team.css') }}" />
    <script src="{{ url_for('static', filename='description.js') }}"></script>
    {% include 'link.html' %}

</head>

<body>
    <!-- 顶部导航栏 -->
    {% include 'menu.html' %}

    <!-- 封图 -->
    <img class="cover-img" src="https://static.igem.wiki/teams/4299/wiki/covers/team.jpg">
    <div class="index-cover-box">
        <div class="index-cover-title" style="width: 60vw; text-align: center;">Student Leaders:</div>
    </div>


    <div class="team-persons-box">
        <div class="team-person-item-box">
            <img class="team-person-img" src="https://static.igem.wiki/teams/4299/wiki/member/add1.jpg" />
            
            <div class="team-person-box">
                <div class="team-person-name">
                    Crystal, Hanbing Ju
                </div>
                <div class="team-person-desciption">
                    Hi everyone my name is Crystal. I am from UWC of Costa Rica will bear the role as a student leader of the team iGEM Sesame_Shenzhen. I am interested in Biochemistry, environmental study and literature and planning on majoring in Biological Natural Science for university. I am excited to be engaged in aiGEM activities and can not wait to learn all kinds of new skills from our work.
                </div>
            </div>
    
        </div>

        <div class="team-person-item-box">
        
            <img class="team-person-img" src="https://static.igem.wiki/teams/4299/wiki/member/add2.jpeg" />
            
    
    
            <div class="team-person-box">
                <div class="team-person-name">
                    Hanson Wen
                </div>
                <div class="team-person-desciption">
                    Hi, my name is Hanson Wen. I'm currently attending Harrow International School Hong Kong, and I'm in year 11 or grade 10. It is an honor to be team captain.  Although it is just my first year participating in iGEM, I’ve learned much about leadership, organization, and team management. This competition strengthened my intererest in synthetic biology alot, and I am really looking forawrd to learning more about this field in the future. 
                </div>
            </div>
    
        </div>



    </div>


    <div class="team-persons-box">
        <div class="team-person-item-box">
            <img class="team-person-img" src="https://static.igem.wiki/teams/4299/wiki/member/add3.jpg" />
            
            <div class="team-person-box">
                <div class="team-person-name">
                    Jing Li
                </div>
                <div class="team-person-desciption">
                    Hi! This is Jing, a student who is interested in biology and always be attracted by the mystery of science. I’m currently the leader of human practice. So excited to work with our fascinating members.
                </div>
            </div>
    
        </div>




    </div>

    <div class="index-cover-box">
        <img class="index-cover-gif" src="https://static.igem.wiki/teams/4299/wiki/home/75-share-lineal.gif" />
        
        <div class="index-cover-title">Team Members:</div>
    </div>

    <div class="team-persons-box">
        <div class="team-person-item-box">
            <img class="team-person-img" src="https://static.igem.wiki/teams/4299/wiki/member/add4.jpg" />
            
            <div class="team-person-box">
                <div class="team-person-name">
                    Bill Chum-cho Lam
                </div>
                <div class="team-person-desciption">
                    Hi! This is Bill Lam, one of the key members of our team. I'm always devoted in natural science, especially biology. As we are participating in iGem, I'm also doing an independent research on Biology information and technology. I think studying biology and taking relevant competitions will always benefit us a lot. We expect great  performance of our team in iGem.
                </div>
            </div>
    
        </div>

        <div class="team-person-item-box">
        
            <img class="team-person-img" src="https://static.igem.wiki/teams/4299/wiki/member/add5.jpg" />
            <div class="team-person-box">
                <div class="team-person-name">
                    Ashley Dong
                </div>
                <div class="team-person-desciption">
                    Hello, my name is Ashley Dong! I'm a rising sophomore, and I attend a high school in Toronto, Canada. As a team member, I focus primarily on contributing towards the wiki and research report aspects of the wet team. I am excited to engage in this iGEM endeavour alongside my teammates and cannot wait to further enrich my curiosity within Biology.
                </div>
            </div>
    
        </div>



    </div>

    <div class="team-persons-box">
        <div class="team-person-item-box">
            <img class="team-person-img" src="https://static.igem.wiki/teams/4299/wiki/member/add6.jpg" />
            <div class="team-person-box">
                <div class="team-person-name">
                    Yuanhang Xu
                </div>
                <div class="team-person-desciption">
                    Hi! my name is Xu Yuanhang, and you can also call me Cedric. I am a senior student from Wuhan Britain-China School, and my specialty is both business and social science. As to my hobbies, I am really into tennis and skiing, and I am also a big fan of singing, piano and music composition. I hope I can use the knowledge I have to make contribution to our team, as well as exploring more in the field of biology.
                </div>
            </div>
        </div>

        <div class="team-person-item-box">
            <img class="team-person-img" src="https://static.igem.wiki/teams/4299/wiki/member/add7.jpg" />
            <div class="team-person-box">
                <div class="team-person-name">
                    Phoenix, Yutong Liu
                </div>
                <div class="team-person-desciption">
                    Hello,everyone! I'm Phoenix Yutong Liu,I'm the student of the WLSA. As a typical ENFP,I like various animals,two dogs,one rabbit,one chipmunk and a lot of reptiles.I have always loved psychology and biology,By chance I contact with synbiology,So I hope to learn more about this field through this project.My job in the team is publicize,I hope to have great study time with you guys.
                </div>
            </div>
        </div>
    </div>

    <div class="team-persons-box">
        <div class="team-person-item-box">
            <img class="team-person-img" src="https://static.igem.wiki/teams/4299/wiki/member/add8.jpeg" />
            <div class="team-person-box">
                <div class="team-person-name">
                    Wuxun Li
                </div>
                <div class="team-person-desciption">
                    Hello，I'm Wuxun Li from the the Second Attached Middle School of the North Normal University,chemical society,sagittarius,entp,I have a lot of habits，Usually, I'm actually a pseudo-literary youth who plays vinyl and writes film reviews.I'm also a reliable ddl fan.In the groupwork,I will do my best. I also hope to contribute as much as possible.
                </div>
            </div>
        </div>

        <div class="team-person-item-box">
            <img class="team-person-img" src="https://static.igem.wiki/teams/4299/wiki/member/add9.jpeg" />
            <div class="team-person-box">
                <div class="team-person-name">
                    Janice, Yaliang Yuan
                </div>
                <div class="team-person-desciption">
                    Hey guys! I am Janice Yaliang Yuan, from Branksome Hall, in Toronto, Canada. I am going into grade 10 this fall, joining IGEM because of my love of math, biology and medicine. In the team, I'm mainly responsible for mathematical modeling and the research and defense part of the wet team. I wish to be a pediatric surgeon in the future. Besides school, I spend a lot of time in rowing, piano, and dancing. Wish all our efforts pay off!
                </div>
            </div>
        </div>
    </div>

    <div class="team-persons-box">
        <div class="team-person-item-box">
            <img class="team-person-img" src="https://static.igem.wiki/teams/4299/wiki/member/add10.jpeg" />
            <div class="team-person-box">
                <div class="team-person-name">
                    Yulin Cai
                </div>
                <div class="team-person-desciption">
                    Hi! My name is Cai Yulin. I am currently a G2 student from Shenzhen College of International Education. I am especially interested in nutriology as well as synthetic biology. As a team member, my focus is chiefly on the dry team, such as carrying out data questionnaires and effectuate human practice articles. I am exited to join IGEM with all fascinating teammates. At the same time to enrich the biological knowledge, I wish a wonderful performance of our team!
                </div>
            </div>
        </div>

        <div class="team-person-item-box">
            <img class="team-person-img" src="https://static.igem.wiki/teams/4299/wiki/member/add11.jpg" />
            <div class="team-person-box">
                <div class="team-person-name">
                    Tracy, Yixuan Hu
                </div>
                <div class="team-person-desciption">
                    Hiii, My name is Tracy, a G2 student from Shenzhen College Of International Education. I'm interested in business and have always wanted to plan business activities in various fields. Synthetic biology is a field that I have been paying attention to for a long time, so I hope this is a chance to work on a cross-field project with all of my teammates. Personally, I am good at business planning, design and publicity work.Super excited to work with all of you!
                </div>
            </div>
        </div>
    </div>


    <div class="team-persons-box">
        <div class="team-person-item-box">
            <img class="team-person-img" src="https://static.igem.wiki/teams/4299/wiki/member/add12.jpg" />
            <div class="team-person-box">
                <div class="team-person-name">
                    Zixuan Chen
                </div>
                <div class="team-person-desciption">
                    Hello, I'm Zixuan Chen, a 17-year-old G11 student at QSI Shenzhen. In my free time, I love to play games, especially interactive movies and first-person shooting games. I also enjoy drawing and Japanese. I have always loved the subject of biology, and I want to do my part to help society, so I chose to join Synthetic Biology to work together with like-minded people. 
                </div>
            </div>
        </div>

        <div class="team-person-item-box">
            <img class="team-person-img" src="https://static.igem.wiki/teams/4299/wiki/member/add13.jpg" />
            <div class="team-person-box">
                <div class="team-person-name">
                    Pokman， Wenbo Deng
                </div>
                <div class="team-person-desciption">
                    Hello, my name is Pokman Deng from Harrow International School Hong Kong. A gamer, loves to read manga and a programer (c++, python, java). Interested in AI and joined igem to explore a different field.
                </div>
            </div>
        </div>
    </div>

    <div class="team-persons-box">
        <div class="team-person-item-box">
            <img class="team-person-img" src="https://static.igem.wiki/teams/4299/wiki/member/add14.jpg" />
            <div class="team-person-box">
                <div class="team-person-name">
                    Jason Yuguan Yang
                </div>
                <div class="team-person-desciption">
                    <p>My name is Yang Yulun, a native of Beijing, from May 9, 2006, 16 years old, 1.85 meters tall. He graduated from Beijing Eleven Longyu Experimental Middle School in junior high school, and studied in the International Department of the Second Affiliated Middle School of Beijing Normal University, and is now a sophomore in high school.</p>
                    <p>I have loved biology since I was a child, I watched a lot of books about biology such as "Magic School Bus" and "Terrible Science" in elementary school, and I am more interested in biology in junior high school, and now in high school, in addition to joining the biological club of the school, I will watch some small videos about biology every day. I hope that I can continue to study biology in college and eventually become a good biologist.</p>
                </div>
            </div>
        </div>
    </div>





    <!-- 底部 -->
    {% include 'footer.html' %}



 

    <!-- 注意：如果你直接复制所有代码到本地，上述 JS 路径需要改成你本地的 -->
    <script>
        AOS.init();
    </script>
</body>

</html>
