<div class="goTop">

    <span>back To top</span>

</div>

<footer>
    

    <div class="logos-box">
        <img src="https://static.igem.wiki/teams/4299/wiki/logos/logo1.jpg" />
        <img src="https://static.igem.wiki/teams/4299/wiki/logos/logo12.jpg" />
        <img src="https://static.igem.wiki/teams/4299/wiki/logos/logo13.png" />
        <img src="https://static.igem.wiki/teams/4299/wiki/logos/logo3.jpg" />
        <img src="https://static.igem.wiki/teams/4299/wiki/logos/logo4.png" />
        <img src="https://static.igem.wiki/teams/4299/wiki/logos/logo5.png" />
        <img src="https://static.igem.wiki/teams/4299/wiki/logos/logo6.png" />
        <img src="https://static.igem.wiki/teams/4299/wiki/logos/logo7.png" />
        <img src="https://static.igem.wiki/teams/4299/wiki/logos/logo8.png" />
        <img src="https://static.igem.wiki/teams/4299/wiki/logos/logo9.png" />
        <img src="https://static.igem.wiki/teams/4299/wiki/logos/logo15.jpeg" />

        <img src="https://static.igem.wiki/teams/4299/wiki/logos/logo10.jpg" />
        <img src="https://static.igem.wiki/teams/4299/wiki/logos/logo11.jpg" />
        <img src="https://static.igem.wiki/teams/4299/wiki/logos/logo16.png" />
        <img src="https://static.igem.wiki/teams/4299/wiki/logos/logo17.jpeg" />
        <img src="https://static.igem.wiki/teams/4299/wiki/logos/logo18.jpeg" />
        <img src="https://static.igem.wiki/teams/4299/wiki/logos/logo14.png" />
        <img src="https://static.igem.wiki/teams/4299/wiki/logos/logo2.jpg" />
        
    </div>

    
    <!-- <div class="footer-right">
        <div class="footer-right-title">
            Contact Us
        </div>

        <div>
            E-mail: 1981846330@qq.com
        </div>

        <div>Address: No. 222, Tianshui South Road,</div>


        <div>chengguan district, Lanzhou City, </div>


        <div>Gansu Province,730000, P. R. China.</div>


        <div> Copyright ©2021 iGEM LZU-CHINA Team All rights reserved.</div>


    </div> -->

    <!-- <div class="footer-left">
        <div class="footer-item-div">
            <div class="footer-item-div-img-div">
                
            </div>
            <div class="footer-item-div-text">
                Lanzhou
                <br>University
            </div>
        </div>

        

        <div class="footer-item-div">
            <div class="footer-item-div-img-div">
                
            </div>
            <div class="footer-item-div-text">
                addgene
            </div>
        </div>

    </div> -->

</footer>

<div style="font-size: 1.5rem; color: rgb(0, 0, 0);width: 100vw;padding: 30px 20vw;background-color: #fff;margin: 0 auto;">
    <div>
      <p><small>© 2022 - Content on this site is licensed under a <a style="color: #108b96;" href="https://creativecommons.org/licenses/by/4.0/" rel="license">Creative Commons Attribution 4.0 International license</a>.</small></p>
        <p><small>The repository used to create this website is available at <a style="color: #108b96;" href="https://gitlab.igem.org/2022/sesame-shenzhen">gitlab.igem.org/2022/sesame-shenzhen</a>.</small></p>
    </div>
  </div>
  
<script>
    function goTop(min_height) {

    $(".goTop").click(

        function() {

            $('html,body').animate({

                scrollTop: 0

            }, 700);

        });

    //获取页面的最小高度，无传入值则默认为600像素

    min_height=min_height?min_height:400;

    //为窗口的scroll事件绑定处理函数

    $(window).scroll(function() {

        //获取窗口的滚动条的垂直位置

        var s = $(window).scrollTop();

        //当窗口的滚动条的垂直位置大于页面的最小高度时，让返回顶部元素渐现，否则渐隐

        if (s > min_height) {

            $(".goTop").fadeIn(100);

        } else {

            $(".goTop").fadeOut(200);

        }

    });

    }





    $(function() {

    goTop();

    });

    
    $("a[href*=\\#],area[href*=\\#]").click(function() {      //若报错则改为$(document).on('click', 'a[href^="#"]', function () { 
        console.log(111)
        if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
            var $target = $(this.hash);
            $target = $target.length && $target || $('[name=' + this.hash.slice(1) + ']');//获取到点击对应id的元素
            if ($target.length) { 
                var targetOffset = $target.offset().top;
                $('html,body').animate({   //滑动效果主要用到jq的animate函数
                    scrollTop: targetOffset-180
                },200);
                return false;
            }
        }
    });
</script>

{% include 'wiki-tools.html' %}




