<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="https://static.igem.wiki/common/icons/favicons/igem-2022.svg">
<link rel="license" href="https://creativecommons.org/licenses/by/4.0/">
<link rel="stylesheet" href="{{ url_for('static',  filename='layui/css/layui.css') }}" media="all" />
<link rel="stylesheet" href="{{ url_for('static',  filename='index.css') }}" media="all" />

<link rel="stylesheet" href="{{ url_for('static',  filename='aos-master/dist/aos.css') }}" media="all" />
<script src="{{ url_for('static', filename = 'jquery.js') }}"></script>
<script src="{{ url_for('static', filename = 'description.js') }}"></script>
