<style>
    .loading-page {
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9999999;
      background-color: #208de5;
    }

    .loading-page > img {
        width: 30vw;
        margin-top: 27vh;
        margin-left: 35vw;
    }
    .goTop {

    height: 44px;

    width: 128px;

    background: #509296;

    border-radius: 22px;

    position: fixed;

    top: 90%;

    right: 3%;

    display: none;

    }



    .goTop span {

    color: #fff;

    position: absolute;

    top: 12px;

    left: 8px;
    width:88%;
    margin: 0 auto;
    text-align:center;

    }
  
</style>


    


<div class="loading-page">
    <img src="https://static.igem.wiki/teams/4299/wiki/sesame-loading.gif" />
</div>



<ul class="layui-nav my-nav"
    style="color:#000;width: 100vw;box-shadow: 0 4px 18px 4px rgb(0 0 0 / 10%);position: fixed;z-index: 9999;top: 0; left: 0;right: 0;display: flex;padding-left: 8%;padding-right: 8%;color: rgba(0, 0, 0, 0.85);background-color: transparent;">

    <div class="nav-left">
        <div class="logo-div">
            <a class="logo-a" href="{{ url_for('index') }}">
                Sesame_Shenzhen
                <img class="logo-img" src="https://static.igem.wiki/teams/4299/wiki/logos/logo0.png" /> 
            </a>
        </div>
        <!-- <div class="li-items">
            <li class="layui-nav-item  layui-this" ><a href="{{ url_for('index') }}">Home</a></li>
            
        </div> -->
    </div>

    <div class="nav-right">
        <li class="layui-nav-item">
            <a href="javascript:;">Project</a>
            <dl class="layui-nav-child">
                <dd><a href="{{ url_for('pages', page='description') }}" class="">Description </a></dd>
                <dd><a href="{{ url_for('pages', page='implementation') }}">Implementation </a></dd>
                <dd><a href="{{ url_for('pages', page='contribution') }}">Contribution </a></dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;">Wet Lab</a>
            <dl class="layui-nav-child">
                <dd><a href="{{ url_for('pages', page='engineering') }}">Engineering </a></dd>
                <dd><a href="{{ url_for('pages', page='proof-of-concept') }}">Proof of Concept </a></dd>
                <dd><a href="{{ url_for('pages', page='notebook') }}">Notebook</a></dd>
            </dl>
        </li>

        <li class="layui-nav-item">
            <a href="javascript:;">Dry Lab</a>
            <dl class="layui-nav-child">
                <dd><a href="{{ url_for('pages', page='model') }}">Model</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;">Human Practice</a>
            <dl class="layui-nav-child">
                <dd><a href="{{ url_for('pages', page='human-practices') }}">Integrated Human Practice </a></dd>
                <dd><a href="{{ url_for('pages', page='communication') }}">Communication </a></dd>
                <dd><a href="{{ url_for('pages', page='education') }}">Education </a></dd>
                <dd><a href="{{ url_for('pages', page='entrepreneurship') }}">Entrepreneurship </a></dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <a href="avascript:;">Team</a>
            <dl class="layui-nav-child">
                <dd><a href="{{ url_for('pages', page='team') }}">Team Members</a></dd>
                <dd><a href="{{ url_for('pages', page='attributions') }}">Attribution </a></dd>
                <dd><a href="{{ url_for('pages', page='collaborations') }}">Collaborations </a></dd>
                <dd><a href="{{ url_for('pages', page='partnership') }}">Partnership </a></dd>
            </dl>

        </li>
    </div>


</ul>


<script src="{{ url_for('static', filename = 'layui/layui.js') }}" charset="utf-8"></script>

<script src="{{ url_for('static', filename = 'aos-master/dist/aos.js') }}"></script>

<!-- 注意：如果你直接复制所有代码到本地，上述 JS 路径需要改成你本地的 -->
<script>
    layui.use('element', function () {
        var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块

        //监听导航点击
        element.on('nav(demo)', function (elem) {
            //console.log(elem)
            layer.msg(elem.text());
        });
    });
</script>

<script>
    AOS.init()
    window.addEventListener('scroll', function () {
        let nav = document.querySelector('.my-nav');

        if(window.scrollY>10)
            {
                nav.style.backgroundColor = '#fff'
                nav.style.transition = 'all 0.4s ease 0s'
            }else{
                nav.style.backgroundColor = 'transparent'
            }
        
    })

</script>

<script>

  

    document.querySelector('.my-nav').style.display = 'none'
    document.querySelector('.loading-page').style.display = 'block'
    document.querySelector('.loading-page').style.transition = ''
    
      document.onreadystatechange = function () {
        setTimeout(() => {
          if (document.readyState === 'complete') {
            document.querySelector('.loading-page').style.display = 'none'
            document.querySelector('.my-nav').style.display = 'flex'
    
    
          } else {
            document.querySelector('.loading-page').style.display = 'block'
            
          }
        }, 2000)
        
      }

    
 </script>


