body {
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
    /* overflow: hidden; */
}

.my-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: #b3d8fc !important; */
}


.nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 100px;
}

.nav-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* 封图 */

.cover-img {
    width: 100%;
}


/* 侧边栏 */ 
#description-article-sidebar {
    width: 15vw;
    height: calc(95%);
    display: none;
    /* border-bottom-right-radius: 8px;
    border-top-right-radius: 8px; */
    position: fixed;
    z-index: 100020;
    padding: 20px;
    padding-bottom: 0;
    flex-direction: column;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
    font: initial;
    line-height: normal;
    left: 0;
    top:60px;
    overflow-y: scroll;
}

#description-article-sidebar > a:hover {
    color: #c09084 !important;
}

.sidebar-contents {
    font-size: 0.8rem !important;
    color: #7a7d82;
    /* text-align: center; */
}



.article-sidebar-a {
    width: 100%;
    display: flex;
    flex-direction: column;
    line-height: 30px;
    font-family: Arial;
    font-size: 1.1rem;
    margin-bottom: 5px;
    color: #6f6f6f;
}

.sidebar-b {
    width: 95% !important;
    margin-left: 1em;
    font-size: 0.9rem;
    color: #979797;
}


.sidebar-c {
    width: 90% !important;
    margin-left: 3em;
    font-size: 0.7rem;
    color: #979797;
}

.sidebar-d {
    width: 60% !important;
    margin-left: 5em;
    font-size: 0.7rem;
    color: #979797;
}


.article-sidebar-a:hover {
    
}


  ::-webkit-scrollbar {
    width: 14px;
    height: 14px;
  }
  
  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-thumb {
    border-radius: 999px;
    border: 5px solid transparent;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: 1px 1px 5px #94ba9c inset;
  }
  
  ::-webkit-scrollbar-thumb {
    min-height: 20px;
    background-clip: content-box;
    box-shadow: 0 0 0 5px #94ba9c inset;
  }
  
  ::-webkit-scrollbar-corner {
    background: transparent;
  }





/* 内容 */
.content-div {
    width: 70%;
    padding: 50px;
    margin: 100px auto 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0.6em 0.6em 1.2em rgb(0 0 0 / 5%);
    border-radius: 8px;
    color: #000;
    font-family: 'cmunrm';
    line-height: 27px;
    font-size: 20px;
}

.content-div a {
    color: #5aa4ae;
    word-break: break-all;
}

.content-div > a:hover {
    color: #108b96;
}

.article-top-line {
    width: 100%;
}



.descrption-article-text {
    font-size: 1.1rem;
    margin-top: 20px;
    line-height: 1.5;
}

.descrption-article-text > p {
    text-indent: 2em;
}

.article-desc-title {
    font-size: 2rem;
    font-weight: 700;
    margin: 20px 0 0 0;
}   

.article-desc-sub-title {
    font-size: 1.4rem;
    font-weight: 700;
    margin: 20px 0 0 0;
}

.article-desc-sub-sub-title {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 20px 0 0 0;
}

.article-desc-sub-sub-sub-title {
    font-size: 1.1rem;
    font-weight: 700;
    margin: 20px 0 0 0;
    
}

.content-div strong {
    font-weight: 700;
}

.content-div li {
    font-size: 1.1rem;
    line-height: 1.5;
    list-style: disc;
    margin-left: 3em;
}

.content-div .italics {
    font-style:italic;
}

.descrption-article-img {
    margin: 20px auto 0 auto;
    width: 80%;
}

.descrption-article-text a {
    text-decoration: none;
    color: #90cbf7;
}

.descrption-article-text a:hover {
    text-decoration: none;
    color: #70b6eb;
}

.article-img-description {
    margin-top: 10px;
    color: #0707069a;
    font-size: 0.8rem;
    margin-bottom: 10px;
    text-align: center;
}

.article-refences {
    font-family: "Arial";
    color: #7a7d82;
}

.article-refences-title {
    margin-top: 40px;
    font-size: 1.4rem;
    font-weight: bold;
}

.article-refences-item {
    margin-top: 20px;
    font-size: 1.1rem;
}



/* 底部 */
footer {
    width: 72%;
    padding-left: 14%;
    padding-right: 14%;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #8f8f8f85;
    height: 230px;
    padding-top: 20px;
}

.footer-left {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-item-div {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    font-size: 17px;
}

.footer-item-div-img {
    width: 100px;
}

.footer-item-div-text {
    margin-left: 20px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    height: 160px;
    font-size: 17px;
    color: #fff;
    margin-top: -10px;
}
