body {
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
    /* overflow: hidden; */
}

.my-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 100px;
}

.nav-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.cover-img {
    width: 100%;
}

/* 侧边栏 */
#description-article-sidebar {
    width: 116px;
    position: fixed;
    z-index: 100020;
    padding: 10px;
    padding-bottom: 10px;
    color: #fff;

    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #e69543;
    overflow: hidden;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);

    font-family: Arial;
    font-size: 15px;
    color: white;
    

    top: 24% !important;
    bottom: auto;
}

.article-sidebar-a {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 30px;
    font-family: Arial;
    font-size: 15px;
    margin-bottom: 5px;
    color: white;
    height: 40px;
}

.article-sidebar-a:hover {
    transition: background-color 500ms;
    background-color: rgba(255, 255, 255, 0.54);
    color: #0a4065;
    width: 136px;
}

/* 内容 */
.content-div {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.content-part-one {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    background-color: #e59330;
    border-radius: 15px;
    /* box-shadow: 0 2px 10px 2px rgb(0 0 0 / 20%); */


}

.content-part-one-question {
    margin-top: 20px;
    background-color: #fafafa;
    padding: 30px;
    padding-bottom: 30px;
    box-shadow: 0 1px 4px 0 rgb(0 21 41 / 12%);
}

.question-text {
    font-size: 20px;
    font-family: Arial;
    width: 92%;
    line-height: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

.shell {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 700px;
    padding: 20px;
}

.shell-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid rgba(223, 223, 223);

    width: 20%;
    padding-right: 3%;
    padding-bottom: 16%;
    height: 84%;
}

.shell-right {
    width: 74%;
    height: 100%;
    overflow-y: hidden;
}

.shell-right ul {
    width: 100%;
    height: 500%;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: .3s;
    top: 0;
}

.shell-right ul li {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.main {

}

.list {
    width: 150px;
}


.tab_buts {
    width: 100%;
    height: 100px;
    position: relative;
}

.tab_buts button {
    background-color: white;
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 20px;
    color: #f0a442;
    /* border: skyblue 2px solid; */
    border-radius: 10px;
    font-family: "Comic Sans MS";
    outline: none;
    transition: font-size 200ms;
}

.tab_buts button:hover {
    background-color: #ffffff;
    color: white;
    font-size: 22px;
    transition: font-size 200ms;
}

.item-title {
    font-family: "Comic Sans MS";
    font-size: 40px;
    color: #f0a442;
    text-align: left;
}

.item-img {
    width: 300px;
    margin: 0 auto;
}

.item-img-desc {
    color: #0707069a;
    font-size: 13px;
    text-align: center;
    margin: 20px 0;
}

.item-text {
    font-size: 17px;
    font-family: "Times novel coronavirusRoman";
    line-height: 35px;
}



.layui-card-header {
    font-family: fantasy;
}

/* .layui-card {
    height: 320px;
} */

.content-part-two {
    margin-top: 50px;
    background-color: #fafafa;
    padding-bottom: 30px;
    box-shadow: 0 1px 4px 0 rgb(0 21 41 / 12%);

}

.part-two-img-div {
    margin-left: 50px;
}


.content-part-three {
    margin-top: 50px;
    background-color: #fafafa;
    box-shadow: 0 1px 4px 0 rgb(0 21 41 / 12%);

}

.text-desc-img {
    width: 96%;
}



/* 底部 */
footer {
    width: 72%;
    padding-left: 14%;
    padding-right: 14%;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #8f8f8f85;
    height: 230px;
    padding-top: 20px;
}

.footer-left {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-item-div {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    font-size: 17px;
}

.footer-item-div-img {
    width: 100px;
}

.footer-item-div-text {
    margin-left: 20px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    height: 160px;
    font-size: 17px;
    color: #fff;
    margin-top: -10px;
}