body {
    margin: 0;
    padding: 0;
    /* background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); */
    /* background-color: #94ba9c; */
    overflow-x: hidden;
    /* overflow: hidden; */
    font-family: 'roundFont' !important;
    /* background-color: #aac7cb; */
    background-color: #bfd7d7;
}


.logo-img {
    height: 50px;
}

.index-cover-title {
    font-size: 4rem;
    width: 30vw;
    margin-top: 5rem;
}

.index-cover-box {
    width: 70vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10vh;
}

.index-cover-gif {

}

.index-content-box {
    width: 70vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10vh;
}

.index-content-text-box {
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.index-content-text-title {
    font-size: 2rem;
    width: 30vw;
    margin-top: 5rem;
}

.index-content-text-content {
    font-size: 1rem;
    width: 30vw;
    margin-top: 2rem;
    line-height: 1.5;
    word-break: break-word;
}

.index-content-gif {

}

b {
    color: #fffd00 !important;
}

.my-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 100px;
}

.logo-a {
    font-size: 2.4rem !important; 
    font-family: "roundFont" !important;
}

.logo-a:hover {
    color: #000 !important;
}

.nav-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem !important;
}

.nav-right li {
    
}

.nav-right a {
    color: #000 !important;
    word-break: break-all;
}


.cover-img {
    width: 100%;
    /* margin: 0 auto; */
}

/* 内容 */
.content-div {
    width: 54%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.content-part-one {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    box-shadow: 0 1px 4px 0 rgb(0 21 41 / 12%);

}

.layui-card-header {
    font-family: fantasy;
}

/* .layui-card {
    height: 320px;
} */

.content-part-two {
    margin-top: 50px;
    background-color: #fafafa;
    padding-bottom: 30px;
    box-shadow: 0 1px 4px 0 rgb(0 21 41 / 12%);

}

.part-two-img-div {
    margin-left: 50px;
}


.content-part-three {
    margin-top: 50px;
    background-color: #fafafa;
    box-shadow: 0 1px 4px 0 rgb(0 21 41 / 12%);

}

.layui-text {
    
}

/* 过渡 */
.transition-sentences {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 140px;
    font-weight: bold;
    color: #2153afee;
    font-size: 20px;
}

/* 视频 */
.video-us-div {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* 底部 */
footer {
    width: 86%;
    
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    color: #000;
    height: 360px;
    padding: 20px 7% 0 10%;
}

footer .logos-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

footer img {
    height: 100px;
    margin: 10px;
}

.footer-left {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-item-div {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    font-size: 17px;
}

.footer-item-div-img {
    width: 100px;
}

.footer-item-div-text {
    margin-left: 20px;
    font-weight: bold;
}

.footer-right {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: center;
    justify-content: space-between;
    height: 160px;
    margin-top: -10px;
    font-size: 1rem;
    line-height: 1.4;
}

.footer-right-title {
    font-size: 2rem;
    line-height: 2rem;
    margin-left: -0.2rem;
}

@font-face {
    font-family: 'roundFont';
    src: url('https://static.igem.wiki/teams/4299/wiki/fonts/cmrdd-regular.ttf');
}

@font-face {
    font-family: 'cmunrm';
    src: url('https://static.igem.wiki/teams/4299/wiki/fonts/cmunrm.ttf');
}



/* team页  */
.team-persons-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 40px auto 0 auto;
    width: 80vw;
    justify-content: space-between;
}

.team-person-item-box {
    display: flex;
    flex-direction: row;
    height: 18.7vw;
    font-family: 'cmunrm';
}

.team-persons-box>:nth-child(2) {
    margin-left: 3rem;
}

.team-person-img {
    width: 14vw;
    height: 100%;
    overflow: hidden;
}

.team-person-box {
    width: 22vw;
    margin-left: 1.2rem;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.team-person-name {
    font-size: 2rem;
    line-height: 2rem;
}

.team-person-age {
    font-size: 1rem;
    line-height: 1rem;
}

.team-person-desciption {
    margin-top: 10px;
    font-size: 1rem;
    word-break: break-word;
    width: 100%;
    height: 100%;

    overflow-y: scroll;
}


  .team-person-desciption::-webkit-scrollbar {
    width: 14px;
    height: 14px;
  }
  
  .team-person-desciption::-webkit-scrollbar-track,
  ::-webkit-scrollbar-thumb {
    border-radius: 999px;
    border: 5px solid transparent;
  }
  
  .team-person-desciption::-webkit-scrollbar-track {
    /* box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2) inset; */
  }
  
  .team-person-desciption::-webkit-scrollbar-thumb {
    min-height: 20px;
    background-clip: content-box;
    /* box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.2) inset; */
  }
  
  .team-person-desciption::-webkit-scrollbar-corner {
    background: transparent;
  }



/* description页 */
#description-article-sidebar {

}