body {
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
    /* overflow: hidden; */
}

.my-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 100px;
}

.nav-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.cover-img {
    width: 100%;
}


.team-person-desciption {
    text-indent: 2em;
    overflow-y: scroll;
}

/* 内容 */
.content-div {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.content-part-title {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    /* background-color: #fafafa; */
    border-radius: 15px;
    /* box-shadow: 0 2px 10px 2px rgb(0 0 0 / 20%); */


}

.content-person-item-right {
    margin-top: 20px;
    background-color: #fafafa;
    padding: 30px;
    padding-bottom: 30px;
    box-shadow: 0 1px 4px 0 rgb(0 21 41 / 12%);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    align-items: center;
}

.content-person-item-left {
    margin-top: 20px;
    background-color: #fafafa;
    padding: 30px;
    padding-bottom: 30px;
    box-shadow: 0 1px 4px 0 rgb(0 21 41 / 12%);

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    border-radius: 10px;
    align-items: center;
}

.introduction-person-div-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 80%;
}

.introduction-person-div-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
}

.person-name {
    font-size: 35px;
    font-family: "Times New Roman", Times, serif;
    color: #218490;
    line-height: 45px;
}


.person-introduction {
    font-size: 20px;
    line-height: 30px;
    font-family: Arial;
    text-align: justify;
}

.person-img {
    height: 250px;
    border-radius: 8px;
}







/* 底部 */
footer {
    width: 72%;
    padding-left: 14%;
    padding-right: 14%;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #8f8f8f85;
    height: 230px;
    padding-top: 20px;
}

.footer-left {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-item-div {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    font-size: 17px;
}

.footer-item-div-img {
    width: 100px;
}

.footer-item-div-text {
    margin-left: 20px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    height: 160px;
    font-size: 17px;
    color: #fff;
    margin-top: -10px;
}